#motherdiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;

	& > * {
		margin: 0.3em;
	}

	& > .story-component {
		display: flex;
		flex-direction: row;
		& > input {
			margin-left: 0.5em;
		}
	}
}
