@use "../../../../assets/variables.scss" as v;

.pop-up-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: v.$pop-up-background-color;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-role {
	display: flex;
	align-items: center;
	gap: 8px;
	transition: filter 0.3s;
	margin-left: 8px;

	img {
		border-radius: 50%;
		object-fit: cover;
		height: 23px;
		max-width: 23px;
		cursor: pointer;
	}

	&:hover {
		filter: brightness(0.8);
	}
}

#menu-bar {
	height: 55px;
	background-color: v.$dark-color;
	padding: 0 2em;
	display: flex;
	align-items: center;

	mat-drawer-container {
		z-index: 999;
		.mat-drawer-inner-container {
			height: 100svh;
			background-color: red;
		}
	}

	.trollando {
		color: v.$lemon-color !important;
		animation: swing 4s infinite alternate;
	}

	@keyframes swing {
		0% {
			transform: translateX(0) rotate(0deg);
		}
		50% {
			transform: translateX(10px) rotate(15deg);
		}
		100% {
			transform: translateX(-10px) rotate(-15deg);
		}
	}

	.search-bar {
		width: 350px;
		transform: translateY(10px);

		mat-label {
			font-size: v.$paragraph-font;
		}

		mat-option {
			::ng-deep .mdc-list-item__primary-text {
				font-size: v.$paragraph-font;
			}

			span {
				font-size: v.$paragraph-font;
			}
		}
	}

	::ng-deep .mdc-text-field {
		border-radius: 0;
	}

	::ng-deep .mat-mdc-text-field-wrapper {
		background-color: v.$light-grey-color;
	}

	::ng-deep .mat-mdc-form-field-flex {
		height: 55px;
	}

	::ng-deep .mdc-line-ripple:before {
		border-bottom-color: transparent;
	}

	img {
		width: 50px;
		margin-right: 45px;
	}

	.active {
		color: v.$white-color;
	}

	.role {
		font-size: 14px;
		margin-right: 45px;
		color: v.$white-color;
		height: 55px;
		cursor: pointer;
		display: flex;
		align-items: center;
		transition: filter 0.3s;
	}

	span {
		font-size: 14px;
		margin-right: 45px;
		color: v.$hover-color;
		height: 55px;
		cursor: pointer;
		display: flex;
		align-items: center;
		transition: filter 0.3s;

		&:hover {
			filter: brightness(1.5);
		}
	}

	.spacer {
		flex: 1 1 auto;
	}

	button {
		mat-icon {
			color: v.$white-color;
			display: flex;
			margin: 0 auto;

			img {
				border-radius: 50%;
				object-fit: cover;
				height: 23px;
				width: 23px;
			}
		}
	}
}

@media only screen and (min-width: 968px) {
}

@media only screen and (max-width: 1500px) {
	#menu-bar {
		padding: 0 5em;
	}
}

@media only screen and (min-width: 1800px) {
	#menu-bar {
		padding: 0 7em;
	}
}
