<mat-toolbar id="menu-bar">
	<img (click)="navigateTo(options[4].route)" src="../../../../assets/logo.svg" />

	<span (click)="navigateTo(options[4].route)" [ngClass]="{ active: activeRoute == 'home' }">Home</span>
	<span (click)="navigateTo(options[0].route)" [ngClass]="{ active: activeRoute == 'epics' }">Epics</span>
	<span (click)="navigateTo(options[1].route)" [ngClass]="{ active: activeRoute == 'backlog' }">Backlog</span>
	<span (click)="navigateTo(options[3].route)" [ngClass]="{ active: activeRoute == 'planning-poker' }">Planning poker</span>
	<span (click)="navigateTo(options[2].route)" [ngClass]="{ active: activeRoute == 'sprint' }">Sprint board</span>

	<!-- <input id="search-bar" placeholder="Search here..." /> -->

	<form class="example-form">
		<mat-form-field class="search-bar">
			<mat-label>Search here...</mat-label>
			<input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" />
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
				@for (option of filteredOptions | async; track option) {
					<mat-option (click)="navigateTo(option.route!)" style="font-size: 14px" [value]="option">{{
						option.name
					}}</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>
	</form>

	<span class="spacer"></span>

	<button mat-icon-button (click)="playAudio()">
		<mat-icon [class.trollando]="trollando">notifications</mat-icon>
		<audio #audioPlayer hidden>
			<source src="../../../../assets/omeutcc.mp3" type="audio/mp3" />
		</audio>
	</button>
	<mat-menu #menu="matMenu" xPosition="after">
		<button mat-menu-item (click)="leaveProject()">
			<span>View Projects</span>
		</button>
		<button mat-menu-item (click)="openPopUp('leaveConfirm')">
			<span>Logout</span>
		</button>
	</mat-menu>
	<div class="user-role" [matMenuTriggerFor]="menu">
		<mat-icon><img [src]="userPhoto" /></mat-icon>
		<p class="role">{{ getProjectMemberFromMap(userEid)?.role | role }}</p>
		<p class="name">{{ userName }}</p>
	</div>
</mat-toolbar>

@if (popUpLeaveForge) {
	<div class="pop-up-background" (click)="closePopUp('leaveConfirm')"></div>

	<app-delete-popup
		[title]="'Logout'"
		[description]="'Are you sure you want to logout? You cannot go back on this action.'"
		confirmButtonLabel="Confirm"
		(cancelEmitter)="closePopUp('leaveConfirm')"
		(confirmDeleteEmmiter)="leaveForge()"
	></app-delete-popup>
}
