@use "./variables.scss" as v;

mat-accordion{
    mat-expansion-panel{
        border: .5px solid rgba($color: v.$black-color, $alpha: 0.2);
        background-color: v.$white-color;
        box-shadow: none;
        color: v.$black-color;
    }
}

.mat-accordion .mat-expansion-panel:first-of-type{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.mat-expansion-panel{
    transition: .2s;
    border-radius: 15px;
}

.mat-expansion-panel-header-title{
    color: v.$black-color;
    font-weight: 400;
    
    &:nth-of-type(1){
        flex-grow: 0.2;
        font-weight: 500;
        color: v.$dark-green-color;
    }
}

.mat-expansion-panel-header-description{
    color: v.$grey-color;
    margin: 10px 0;
}

.group-list{
    display: flex;
    gap: 7px;
    margin-top: 20px;
    
    .kanban-wrapper{
        background-color: v.$background-grey;
        padding: 16px;
        flex: 1;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2{
                font-size: v.$sub-title-font;
                color: v.$label-background-grey;
                font-weight: 500;
                margin-bottom: 15px;
            
            }

            .count{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 10px;
                font-weight: 500;
                gap: 2px;
                background-color: v.$background-dark-grey;
                color: v.$label-background-dark-grey;
                padding: 1px 3px;
                border-radius: 3px;
            }

        }

        &:first-of-type{
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }
        
        &:last-of-type {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}

// Placeholder 
.kanban-list {
    overflow: hidden;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.container-item {
    padding: 20px 10px;
    max-width: 200px;
    min-height: 150px;
    margin-bottom: 5px;
    background: white;

    .content{
        position: relative;

        & > div {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 4px;
            width: calc(100% + 20px);    
            position: absolute;
            top: -20px;
            left: -10px;
        }

        .feature{
            background-color: v.$green-color;
        }

        h3{
            font-weight: 500;
            font-size: v.$sub-title-font;
        }

        .desc{
            transform: translateY(0) !important;
            margin: 0;
            color: v.$black-color;
            font-size: 13px;
        }

        .behaviour{
            font-size: 13px;
            strong{
                font-weight: 500;
            }
        }

        img{
            width: 27px;
            height: 27px;
            border-radius: 50%;
            margin-top: 1em;
        }
    }
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.container-item:last-child {
    border: none;
}
  
.kanban-list.cdk-drop-list-dragging .container-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.placeholder {
    background: #ccc;
    border: dotted 3px #999;
    height: 150px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}