// Color variables
$black-color: #000;
$white-color: #fff;
$green-color: #6dc955;
$grey-color: #686868;

$dark-color: #212121;
$dark-grey-color: #393939;
$dark-green-color: #289e0b;

$lemon-color: #72c800;
$background-grey: #f4f4f4;
$background-dark-grey: #d8d8d8;
$label-background-grey: #4f4f4f;
$label-background-dark-grey: #7a7a7a;

$light-grey-color: #d9d9d9;
$light-green-color: #54d93e;

$error-color: #9c0e0e;
$input-color: #f2f2f2;

$disabled-background-color: #ccc;
$disabled-color: #888;

// Font variables
$title-font: 24px;
$h2-font: 18px;
$sub-title-font: 16px;
$paragraph-font: 14px;
$observation-font: 12px;
$button-font: 14px;

// Transition variable
$fast-transition: 0.1s;
