// Color variables
$black-color: #000;
$white-color: #fff;
$green-color: #6dc955;
$grey-color: #686868;

$dark-color: #212121;
$dark-grey-color: #393939;
$dark-green-color: #289e0b;

$lemon-color: #72C800;
$background-grey: #F4F4F4;
$background-dark-grey: #D8D8D8;
$label-background-grey: #4F4F4F;
$label-background-dark-grey: #7A7A7A;

$light-grey-color: #d9d9d9;
$light-green-color: #54d93e;

$error-color: #9c0e0e;
$input-color: #f2f2f2;

$disabled-background-color: #ccc;
$disabled-color: #888;

// Color for Epic`s page
$epics-dark-green-color: #1C770D;
$purple-color: #660B9E;
$epics-light-grey-color: #EDEDED;

// Font variables
$title-font: 24px;
$h2-font: 18px;
$sub-title-font: 16px;
$paragraph-font: 14px;
$observation-font: 12px;
$button-font: 14px;

// Transition variable
$fast-transition: 0.1s;
