@use "../../../../../../src/assets/variables.scss" as v;

.fake-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	padding: 10px 10px 10px 20px;
	background-color: #f2f2f2;
	border: none;
	border-radius: 2px;
	margin-bottom: 16px;

	p {
		font-size: v.$paragraph-font;
		color: v.$black-color;
	}

	button {
		scale: 0.7;
		height: 45px;
		width: 45px;
	}
}

.select-project-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100svh - 65px);
	width: 100vw;

	.select-project-component > div {
		margin: 3em 55px 0 55px;
	}

	.select-project-component {
		background-color: v.$white-color;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		width: 1100px;
		height: 591px;
		position: relative;

		.tabs {
			margin: 40px 55px 0 55px;

			.input-container {
				margin-top: 40px;
			}

			.header-members {
				display: flex;
				align-items: center;
				gap: 10px;
				margin-top: 40px;

				p {
					flex: auto;
					text-align: left;
					max-width: 200px;
					color: v.$label-background-dark-grey;
					font-size: v.$sub-title-minor-font;
				}
			}

			.body-members {
				height: 220px;
			}

			.member {
				display: flex;
				align-items: center;
				gap: 10px;

				p {
					flex: auto;
					text-align: left;
					max-width: 200px;
					font-size: v.$sub-title-minor-font;
				}
			}

			.action-buttons {
				display: flex;
				flex-direction: row-reverse;
				gap: 8px;
				width: 100%;
				margin-top: 30px;
				margin-bottom: 3em;

				&_button {
					height: 40px;
					cursor: pointer;
					font-weight: 500;
					border: none;
					border-radius: 2px;
					width: 180px;

					&:disabled {
						background-color: v.$disabled-background-color;
						color: v.$disabled-color;
						cursor: not-allowed;
					}
				}

				&_action {
					color: v.$white-color;
					font-size: v.$button-font;
					background-color: v.$green-color;
				}

				&_cancel {
					font-size: v.$button-font;
					background-color: v.$white-color;
					color: v.$black-color;
				}
			}
		}

		.title {
			display: flex;
			justify-content: space-between;

			.left-side {
				display: flex;
				flex-direction: column;

				h1 {
					font-weight: 500;
				}

				p {
					font-size: v.$h2-font;
					max-width: 350px;
				}
			}

			.right-side {
				display: flex;
				align-items: center;
				height: 40px;

				button {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: transparent;
					border: none;
					height: 100%;
				}

				button:nth-child(1) {
					width: 100px;
					background-color: v.$epics-light-grey-color;
					border-radius: 4px;
					margin-right: 4px;
				}
			}
		}

		.projects {
			.header {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 14px;
			}

			.list {
				max-height: 200px;
				overflow: auto;

				& > div {
					cursor: pointer;

					&:hover {
						transition: 0.1s;
						cursor: pointer;
						filter: brightness(0.8);

						.project-info {
							button {
								display: block;
							}
						}
					}

					.project-info.active {
						background-color: #a5a5a5;
					}

					.project-info {
						display: flex;
						height: 63px;
						background-color: v.$background-grey;
						border-radius: 2px;
						margin-bottom: 4px;
						align-items: center;
						justify-content: center;
						position: relative;

						p {
							margin-right: 5px;
						}

						.mat-mdc-menu-trigger {
							opacity: 0.4;
							position: absolute;
							right: 20px;
							top: 14px;

							&:hover {
								opacity: 1;
							}

							&:focus {
								opacity: 1;
							}

							&:active {
								opacity: 1;
							}
						}

						.cdk-focused,
						.cdk-mouse-focused {
							opacity: 1;
						}

						.material-icons {
							transform: translateY(-1.5px);
						}

						.button-icon {
							transform: translateY(-2px);
						}
					}
				}
			}
		}

		.footer-next {
			display: flex;
			margin: 0 auto;
			width: 320px;
			height: 40px;
			align-items: center;
			justify-content: center;
			color: v.$white-color;
			font-weight: 500;
			font-size: v.$button-font;
			background-color: v.$green-color;
			border: none;
			border-radius: 2px;
			cursor: pointer;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 64px;

			&:disabled {
				background-color: v.$disabled-background-color;
				color: v.$disabled-color;
				cursor: not-allowed;
			}
		}
	}

	.copyright {
		margin-top: 2em;
		font-size: v.$paragraph-font;
		color: v.$grey-color;
	}
}
