<app-navbar></app-navbar>
<div class="user-story-page-content">
	<ng-container *ngIf="userStory$ | async as userStory">
		<div class="grid-container">
			<div class="header-grid">
				<div class="breadcrump-story-wrapper">
					<ul class="breadcrumber">
						<li>
							<a>{{ projectCode }}</a>
						</li>
						<div class="spacer">></div>
						<li><a>User Story</a></li>
					</ul>
					<p class="user-story-priority user-story-priority-{{ userStory.priority | priority }}">
						{{ userStory.priority | priority }}
					</p>
					<h1 id="user-story-title">[{{ userStory.code }}] {{ userStory.title }}</h1>

					<div class="buttons-header">
						<button id="button-edit-page" class="grey-button" (click)="openPopUpEditUserStory()" matRipple>
							Edit User Story
						</button>
						<button mat-icon-button class="mat-icon-button">
							<mat-icon>more_vert</mat-icon>
						</button>
					</div>
				</div>
				<p>{{ userStory.description | maxLength: 128 }}</p>
			</div>

			<div class="user-story-container">
				<div class="story-description story-topic">
					<h4>USER STORY</h4>
					<p><span>As</span> {{ userStory.storyActor }},</p>
					<p><span>I want</span> {{ userStory.storyObjective }}</p>
					<p><span>So that</span> {{ userStory.storyJustification }}.</p>
				</div>
				<div class="business-narrative story-topic">
					<h4>BUSINESS NARRATIVE</h4>
					<p>
						{{ userStory.narrative }}
					</p>
				</div>

				<div class="premises story-topic">
					<h4>PREMISES</h4>
					{{ userStory.premisse }}
				</div>

				<ng-container *ngIf="acceptanceCriteria$ | async as acceptanceCriteria">
					<div class="criteria story-topic">
						<h4>ACCEPTANCE CRITERIA</h4>

						@for (criteria of acceptanceCriteria.acceptanceCriteria; track $index) {
							<div class="criteria-wrapper">
								<p>{{ criteria.given }}</p>
								<p>{{ criteria.when }}</p>
								<p>{{ criteria.then }}</p>
							</div>
						}
					</div>
				</ng-container>

				<div class="test-cases story-topic">
					<h4>TEST CASES</h4>
					@if (testCasesREAL) {
						@if (testCasesREAL.testcases.length > 0) {
							<table mat-table [dataSource]="testCasesREAL!.testcases" matSort class="mat-elevation-z8 test-case-table">
								<ng-container matColumnDef="index">
									<th mat-header-cell *matHeaderCellDef>Key</th>
									<td class="item-cell" mat-cell *matCellDef="let element">{{ element.eid }}</td>
								</ng-container>

								<ng-container matColumnDef="description">
									<th mat-header-cell *matHeaderCellDef>Description</th>
									<td mat-cell *matCellDef="let element">{{ element.description }}</td>
								</ng-container>

								<ng-container matColumnDef="precondition">
									<th mat-header-cell *matHeaderCellDef>Precondition</th>
									<td mat-cell *matCellDef="let element">{{ element.precondition }}</td>
								</ng-container>

								<ng-container matColumnDef="stepCount">
									<th mat-header-cell *matHeaderCellDef>Step Count</th>
									<td mat-cell *matCellDef="let element">{{ element.stepCount }}</td>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumnsTestCases"></tr>
								<tr
									(click)="navigateToTestCase(row.eid)"
									mat-row
									*matRowDef="let row; columns: displayedColumnsTestCases"
								></tr>
							</table>
							<div class="test-case-buttons">
								<button id="button-create-test-manually" class="grey-button" (click)="openPopUpTestCase()" matRipple>
									Create test case
								</button>
							</div>
						} @else {
							<div class="no-test-cases-available">
								<p>
									It seems that you have not created any test cases. To generate them manually or automatically, click the
									button below.
								</p>

								<div class="test-case-buttons">
									<button id="button-create-test-manually" class="grey-button" (click)="openPopUpTestCase()" matRipple>
										Create test case
									</button>
								</div>
							</div>
						}
					}
				</div>
				<div class="test-cases story-topic">
					<h4>TASKS</h4>
					@if (tasks) {
						@if (tasks.tasks.length > 0) {
							<table mat-table [dataSource]="tasks!.tasks" matSort class="mat-elevation-z8 tasks-table">
								<ng-container matColumnDef="type">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
									<td
										[ngClass]="getTaskTypeClass(element.type)"
										#itemCell
										mat-cell
										*matCellDef="let element"
										(click)="openTaskPopUp(element)"
									>
										{{ typeParser(element.type) }}
									</td>
								</ng-container>

								<ng-container matColumnDef="key">
									<th mat-header-cell *matHeaderCellDef>Key</th>
									<td mat-cell *matCellDef="let element">{{ element.code }}</td>
								</ng-container>

								<ng-container matColumnDef="subject">
									<th mat-header-cell *matHeaderCellDef>Subject</th>
									<td mat-cell *matCellDef="let element">
										{{ element.description | maxLength: 45 }}
									</td>
								</ng-container>

								<ng-container matColumnDef="status">
									<th mat-header-cell *matHeaderCellDef>Status</th>
									<td mat-cell *matCellDef="let element">
										<div #statusContainer class="status-container">
											{{ statusParser(element.status) | maxLength: 11 }}
										</div>
									</td>
								</ng-container>

								<ng-container matColumnDef="assignee">
									<th mat-header-cell *matHeaderCellDef>Responsible</th>
									<td mat-cell *matCellDef="let element">
										@if (element.responsibleEid === null) {
											<div class="assignee-container">
												<img src="../../../../../assets/unassigned-user.svg" />
												<p>Unassigned</p>
											</div>
										} @else {
											<div class="assignee-container">
												<img src="{{ getProjectMemberFromMap(element.responsibleEid)?.gravatar }}" />
												<p>{{ getProjectMemberFromMap(element.responsibleEid)?.name }}</p>
											</div>
										}
									</td>
								</ng-container>

								<ng-container matColumnDef="priority">
									<th mat-header-cell *matHeaderCellDef>Priority</th>
									<td mat-cell *matCellDef="let element">
										<img [src]="element.priority | priority | icon" />
									</td>
								</ng-container>

								<ng-container matColumnDef="created">
									<th mat-header-cell *matHeaderCellDef>Created</th>
									<td mat-cell *matCellDef="let element">
										{{ element.createdAt | date }}
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumnsTasks"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumnsTasks" (click)="openTaskPopUp(row)"></tr>
							</table>
							<div class="test-case-buttons">
								<button id="button-create-test-manually" class="grey-button" (click)="openPopUpCreateTask()" matRipple>
									Create task
								</button>
							</div>
						} @else {
							<div class="no-test-cases-available">
								<p>It seems that you have not created any Tasks. To create one, click the button below.</p>

								<div class="test-case-buttons">
									<button id="button-create-test-manually" class="grey-button" (click)="openPopUpCreateTask()" matRipple>
										Create task
									</button>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</ng-container>
</div>

@if (popUpTestCase) {
	<div class="pop-up-background" (click)="closePopUpTestCase()"></div>

	<app-test-case-popup [acceptanceCriteria]="acceptanceCriteria" (closePopUpEmitter)="closePopUpTestCase()">
	</app-test-case-popup>
}

@if (popUpEditUserStory) {
	<div class="pop-up-background" (click)="closePopUpEditUserStory()"></div>

	<app-user-story-popup
		[isEditMode]="true"
		[projectEid]="projectEid"
		(closePopUpEmitter)="closePopUpEditUserStory()"
		(handleEditedUserStoryAndClosePopupEmitter)="setUpdatedUserStory()"
		[userStoryEditData$]="userStory$"
		[criteriaEditData$]="acceptanceCriteria$"
	>
	</app-user-story-popup>
}

@if (popUpTask) {
	<div class="pop-up-background" (click)="closePopUpTask()"></div>
	<app-task-details
		[task]="selectedTask"
		[responsible]="getProjectMemberFromMap(selectedTask.responsibleEid)"
		[projectEid]="projectEid"
		(closePopUpEmitter)="closePopUpTask()"
		(closePopUpEmitterDeletedTask)="loadTasksData()"
		(closePopUpEmitterEditedTask)="loadTasksData()"
	></app-task-details>
}

@if (popUpCreateTask) {
	<div class="pop-up-background" (click)="closePopUpCreateTask()"></div>
	<app-task-popup
		[isEditMode]="false"
		[projectEid]="projectEid"
		[userStoryEid]="userstoryEid"
		(handleTaskAndClosePopupEmitter)="loadTasksData()"
		(closePopUpEmitter)="closePopUpCreateTask()"
	></app-task-popup>
}
