<app-navbar></app-navbar>
<div class="planning-poker-content">
	<div class="grid-container content-wrapper">
		<div class="header-grid">
			<div class="breadcrump-story-wrapper">
				<ul class="breadcrumber">
					<li><a href="">Squad BES</a></li>
					<div class="spacer">></div>
					<li><a href="">TCC 1</a></li>
					<div class="spacer">></div>
					<li><a href="/user-story">Planning Poker</a></li>
				</ul>
				<h1 id="user-story-title">Planning poker</h1>

				<div class="buttons-header">
					@if (inSession) {
						<button class="grey-button" matRipple>End session</button>
					} @else {
						<button class="grey-button" matRipple (click)="openPopUp('createSession')">Start session</button>
					}
				</div>
			</div>

			@if (sessionList && !inSession) {
				<p>Create a personal poker room to estimate a complexity to your tasks. Your team mates can join.</p>
			}

			@if (inSession) {
				<p>{{ currentUserstoryBeingVoted ? "Current item: " + currentUserstoryBeingVoted!.title : "none" }}</p>
			}
			<div class="hr"></div>
		</div>

		@if (!inSession && !sessionList) {
			<div class="warning">
				<mat-icon>warning</mat-icon>
				<p class="warning_label">
					There is no active Planning Poker session at the moment. You can create one by clicking the button below.
				</p>
				<button class="green-button" matRipple (click)="openPopUp('createSession')">Start a new session</button>
			</div>
		}

		@if (sessionList && !inSession) {
			<div class="session_title">
				<h3>Available sessions</h3>
				<p>Click in a room to enter</p>
			</div>
			<div class="session">
				<div class="session_header">
					<p class="session_header--th">Room</p>
					<p class="session_header--th">Participants</p>
					<p class="session_header--th">Issues to vote</p>
				</div>
				@for (session of allSessionList; track $index) {
					<div class="session_body" (click)="enterSession(session.sessionCode)">
						<p class="session_body--td"><mat-icon>circle</mat-icon> {{ session.agenda }}</p>
						<p class="session_body--td">{{ session.participantCount }}</p>
						<p class="session_body--td">{{ session.userstoryCount }}</p>
					</div>
				}
			</div>
		}

		@if (inSession) {
			<div class="planning-poker">
				<div class="planning-poker_participants-counter">
					<div class="planning-poker_participants-counter--all">
						{{ currentSessionData.participants.length }} Participants
					</div>
					<div class="planning-poker_participants-counter--voted">{{ votedCount }} Voted</div>
				</div>
				<div class="planning-poker_participants-display">
					@for (person of currentSessionData.participants; track $index) {
						<div class="planning-poker_participants-display_wrapper">
							@if (scoreToggle) {
								<div class="planning-poker_participants-display_score">{{ person.vote }}</div>
							}
							<img [src]="person.gravatar" class="planning-poker_participants-display_avatar" />
							<div class="planning-poker_participants-display_name">{{ person.name }}</div>
						</div>
					}
				</div>

				<div class="planning-poker_current-userstory" #expand>
					@if (currentUserstoryBeingVoted) {
						<img
							src="../../../../../assets/expand-icon.svg"
							class="planning-poker_current-userstory--expand"
							(click)="setExpandToggle()"
						/>
						<button class="planning-poker_button" (click)="revealVotes()" matRipple>Reveal votes</button>
						<div class="planning-poker_current-userstory--title">{{ currentUserstoryBeingVoted.title }}</div>
						<div class="planning-poker_current-userstory--description">{{ currentUserstoryBeingVoted.description }}</div>

						@if (expandToggle) {
							<div class="hr"></div>
							<div class="planning-poker_current-userstory--header">User story</div>
							<div class="planning-poker_current-userstory--content">
								<span class="planning-poker_current-userstory--span">As</span> {{ currentUserstoryBeingVoted.storyActor }}
							</div>
							<div class="planning-poker_current-userstory--content">
								<span class="planning-poker_current-userstory--span">I want</span>
								{{ currentUserstoryBeingVoted.storyObjective }}
							</div>
							<div class="planning-poker_current-userstory--content">
								<span class="planning-poker_current-userstory--span">So that</span>
								{{ currentUserstoryBeingVoted.storyJustification }}
							</div>
						}
					} @else {
						<div class="planning-poker_no-userstory">
							<h2>There is no User Story being voted at the moment.</h2>
							<p>Wait for your <span>Scrum Master</span> to pick a card.</p>
						</div>
					}
				</div>

				<div class="planning-poker_available-cards">
					<div class="planning-poker_available-cards--header">Choose your card</div>
					<div class="planning-poker_available-cards--content">
						<button
							class="planning-poker_available-cards--card"
							*ngFor="let card of [1, 2, 3, 5, 8, 13, 21, 34, 55, 89, null]"
							(click)="vote(card)"
							[ngClass]="{ active: activeCard === card }"
						>
							<span>{{ card ? card : "?" }}</span> {{ card ? card : "?" }} <span>{{ card ? card : "?" }}</span>
						</button>
					</div>
				</div>
			</div>
		}
	</div>

	@if (inSession) {
		<div class="grid-container issues-list">
			<div class="issues-list_content">
				<div class="issues-list_header">
					<h2 class="issues-list_header--title">Issues</h2>
					<p class="issues-list_header--paragraph">
						This is a queue of issues that you will judge. Pay attention to the current issue.
					</p>
				</div>

				@for (userstory of currentSessionData.userstories; track $index) {
					<div class="issues-list_issue">
						<img
							class="issues-list_issue--link"
							(click)="navigateToCurrentUserStory(userstory.eid)"
							src="../../../../../assets/link-icon.svg"
						/>
						<p class="issues-list_issue--type">User story</p>
						<h2 class="issues-list_issue--title">{{ userstory.title }}</h2>
						<p
							[ngClass]="
								userstory.eid === currentSessionData.selectedUserstoryEid
									? 'issues-list_issue--status-now'
									: 'issues-list_issue--status-waiting'
							"
						>
							{{ userstory.eid === currentSessionData.selectedUserstoryEid ? "Voting now..." : "Waiting..." }}
						</p>
						<button class="issues-list_issue--status-waiting add-to" matRipple (click)="setUserStory(userstory.eid)">
							+ Add to vote
						</button>
					</div>
				}
			</div>
		</div>
	}
</div>

@if (popUpCreateSession) {
	<app-popup-component
		title="Create a new planning poker room"
		description="Fill the needed information to be able to create your epic."
		buttonName="Create planning poker"
		buttonCancelName="Cancel"
		[cancelButton]="true"
		(closePopUpEmitter)="closePopUp('createSession')"
		(onButtonClick)="createSession()"
	>
		<app-input
			#pokerSubject
			for="pokerSubject"
			label="Room's topic"
			name="pokerSubject"
			type="text"
			placeholder="Subject of the room"
			[required]="true"
			[minLength]="3"
		></app-input>
	</app-popup-component>
}
