<app-navbar></app-navbar>
<div class="planning-poker-content">
	<div class="grid-container content-wrapper">
		<div class="header-grid">
			<div class="breadcrump-story-wrapper">
				<ul class="breadcrumber">
					<li>
						<a>{{ projectCode }}</a>
					</li>
					<div class="spacer">></div>
					<li><a>Planning Poker</a></li>
				</ul>
				<h1 id="user-story-title">Planning poker</h1>

				<div class="buttons-header">
					@if (inSession) {
						<button class="grey-button" matRipple (click)="quitSession()">Quit session</button>
					} @else {
						<button class="green-button .start-button" matRipple (click)="openPopUp('createSession')">Start session</button>
					}
				</div>
			</div>

			@if (!inSession) {
				<p class="header-grid_desc">
					Create a personal poker room to estimate a complexity to your tasks. Your team mates can join.
				</p>
			}

			@if (inSession) {
				<p>
					{{
						currentUserstoryBeingVoted
							? "Current item: " + currentUserstoryBeingVoted!.title
							: "Waiting Scrum Master to pick a user story..."
					}}
				</p>
				<div class="hr"></div>
			}
		</div>

		@if (!inSession) {
			<div class="body-grid">
				@if (!inSession && !sessionList) {
					<div class="warning">
						<mat-icon>warning</mat-icon>
						<h3 class="warning_title">There is no active Planning Poker session at the moment.</h3>
						<p class="warning_label">You can create one by clicking the button below.</p>
						<button class="green-button" matRipple (click)="openPopUp('createSession')">Start a new session</button>
					</div>
				}

				@if (sessionList && !inSession) {
					<div class="session_title">
						<div class="session_title--first">
							<h2>Available sessions</h2>
							<mat-icon
								class="info-tooltip"
								matTooltip="The list below is a Planning Poker session used to reach a consensus on the complexity of the user stories."
								>info</mat-icon
							>
						</div>
						<p>Find below the current list of planning poker room. You can click to enter.</p>
					</div>
					<div class="session">
						<div class="session_header">
							<p class="session_header--th">Room</p>
							<p class="session_header--th">Participants</p>
							<p class="session_header--th">Issues to vote</p>
						</div>
						@for (session of allSessionList; track $index) {
							<div class="session_body" (click)="enterSession(session.sessionCode)">
								<p class="session_body--td"><mat-icon>circle</mat-icon> {{ session.agenda }}</p>
								<p class="session_body--td">{{ session.participantCount }}</p>
								<p class="session_body--td">{{ session.userstoryCount }}</p>
							</div>
						}
					</div>
				}
			</div>
		}

		@if (inSession) {
			<div class="planning-poker">
				<div class="planning-poker_participants-counter">
					<div class="planning-poker_participants-counter--all">
						{{ currentSessionData.participants.length }} Participants
					</div>
					<div class="planning-poker_participants-counter--voted">{{ votedCount }} Voted</div>
				</div>
				<div class="planning-poker_participants-display">
					@for (person of currentSessionData.participants; track $index) {
						<div class="planning-poker_participants-display_wrapper">
							@if (getProjectMemberFromMap(person.eid)?.role === 2) {
								<img class="planning-poker_participants-display_host" src="../../../../../assets/host-indicator.svg" />
							}

							@if (person.vote !== undefined && currentSessionData.revealed) {
								<div class="planning-poker_participants-display_score">{{ person.vote | pokerScore }}</div>
							}
							<img [src]="person.gravatar" class="planning-poker_participants-display_avatar" />
							<div class="planning-poker_participants-display_name">{{ person.name }}</div>

							@if (person.vote !== undefined && !currentSessionData.revealed) {
								<div class="green-signal"></div>
							}
						</div>
					}
				</div>

				<div class="planning-poker_current-userstory" #expand>
					@if (currentUserstoryBeingVoted) {
						@if (currentSessionData.voteClosestFibonacci) {
							<div class="planning-poker_current-userstory--average">
								Average score: {{ currentSessionData.voteClosestFibonacci }}
							</div>
						}
						<img
							src="../../../../../assets/expand-icon.svg"
							class="planning-poker_current-userstory--expand"
							(click)="setExpandToggle()"
						/>
						@if (getProjectMemberFromMap(userEid)?.role === 2) {
							<button class="planning-poker_button" (click)="revealVotes()" [hidden]="currentSessionData.revealed" matRipple>
								Reveal votes
							</button>
						}
						<div class="planning-poker_current-userstory--title">
							<img [src]="priorityImageParser(currentUserstoryBeingVoted.priority)" /> {{ currentUserstoryBeingVoted.title }}
						</div>
						<div class="planning-poker_current-userstory--description">
							{{ currentUserstoryBeingVoted.description | maxLength: 86 }}
						</div>

						@if (expandToggle) {
							<div class="hr"></div>
							<div class="planning-poker_current-userstory--header">User story</div>
							<div class="planning-poker_current-userstory--content">
								<span class="planning-poker_current-userstory--span">As</span> {{ currentUserstoryBeingVoted.storyActor }}
							</div>
							<div class="planning-poker_current-userstory--content">
								<span class="planning-poker_current-userstory--span">I want</span>
								{{ currentUserstoryBeingVoted.storyObjective }}
							</div>
							<div class="planning-poker_current-userstory--content">
								<span class="planning-poker_current-userstory--span">So that</span>
								{{ currentUserstoryBeingVoted.storyJustification }}
							</div>
						}
					} @else {
						<div class="planning-poker_no-userstory">
							<h2>There is no User Story being voted at the moment.</h2>
							<p>Wait for your <span>Scrum Master</span> to pick a card.</p>
						</div>
					}
				</div>

				<div class="planning-poker_available-cards">
					<div class="planning-poker_available-cards--header">Choose your card</div>
					<div class="planning-poker_available-cards--content">
						<button
							[disabled]="currentSessionData.revealed || !currentSessionData.selectedUserstoryEid"
							[class.clickable]="!currentSessionData.revealed && currentSessionData.selectedUserstoryEid"
							class="planning-poker_available-cards--card"
							*ngFor="let card of [1, 2, 3, 5, 8, 13, 21, 34, 55, 89, null]"
							(click)="vote(card)"
							[ngClass]="{ active: activeCard === card }"
						>
							<span>{{ card ? card : "?" }}</span> {{ card ? card : "?" }} <span>{{ card ? card : "?" }}</span>
						</button>
					</div>
				</div>
			</div>
		}
	</div>

	@if (inSession) {
		<div class="grid-container issues-list">
			<div class="issues-list_content">
				<div class="issues-list_header">
					<h2 class="issues-list_header--title">Issues</h2>
					<p class="issues-list_header--paragraph">
						This is a queue of issues that you will judge. Pay attention to the current issue.
					</p>
				</div>

				@for (userstory of currentSessionData.userstories; track $index) {
					<div class="issues-list_issue">
						<img
							class="issues-list_issue--link"
							(click)="navigateToCurrentUserStory(userstory.eid)"
							src="../../../../../assets/link-icon.svg"
						/>
						<p class="issues-list_issue--type">User story</p>
						<h2 class="issues-list_issue--title">{{ userstory.title }}</h2>

						@if (userstory.effortScore && userstory.eid !== currentSessionData.selectedUserstoryEid) {
							<p
								[ngClass]="
									userstory.eid === currentSessionData.selectedUserstoryEid
										? 'issues-list_issue--status-now'
										: 'issues-list_issue--status-waiting'
								"
							>
								Average score: {{ userstory.effortScore }}
							</p>
						} @else {
							<p
								[ngClass]="
									userstory.eid === currentSessionData.selectedUserstoryEid
										? 'issues-list_issue--status-now'
										: 'issues-list_issue--status-waiting'
								"
							>
								{{ userstory.eid === currentSessionData.selectedUserstoryEid ? "Voting now..." : "Waiting..." }}
							</p>
						}
						@if (getProjectMemberFromMap(userEid)?.role === 2) {
							<button class="issues-list_issue--status-waiting add-to" matRipple (click)="setUserStory(userstory.eid)">
								{{ userstory.effortScore != null ? "Click to vote again" : "+ Add to vote" }}
							</button>
						}
						<img class="priority" [src]="priorityImageParser(userstory.priority)" />
					</div>
				}
			</div>
		</div>
	}
</div>

@if (popUpCreateSession) {
	<app-popup-component
		title="Create a new planning poker room"
		description="Fill the needed information to be able to create your epic."
		buttonName="Create planning poker"
		buttonCancelName="Cancel"
		[cancelButton]="true"
		(closePopUpEmitter)="closePopUp('createSession')"
		(onButtonClick)="createSession()"
	>
		<app-input
			#pokerSubject
			for="pokerSubject"
			label="Room's topic"
			name="pokerSubject"
			type="text"
			placeholder="Subject of the room"
			[required]="true"
			[minLength]="3"
		></app-input>

		<label for="sprint">Select a sprint to vote</label>
		<select name="sprint" id="sprint" [(ngModel)]="selectedSprintEid">
			<option value="" disabled>Select a sprint</option>
			@for (sprint of currentAndFutureSprints; track $index) {
				<option value="{{ sprint.eid }}">Sprint {{ sprint.index }}</option>
			}
		</select>
	</app-popup-component>
}
