<app-navbar></app-navbar>
<div class="kanban-page-content">
	<div class="grid-container">
		<div class="header-grid">
			<div class="breadcrump-epics-wrapper">
				<ul class="breadcrumber">
					<li><a href="">Squad BES</a></li>
					<div class="spacer">></div>
					<li><a href="">TCC 1</a></li>
					<div class="spacer">></div>
					<li><a href="/epics">Epics</a></li>
				</ul>
				<h1>Epics</h1>
				<div class="buttons-header">
					<button id="button-create-epic" (click)="openPopUpCreateEpic()">Create an Epic</button>
					<button mat-icon-button class="mat-icon-button">
						<mat-icon>more_vert</mat-icon>
					</button>
				</div>
			</div>

			<p>This board will manage your features that are available to start development</p>
		</div>

		<div class="epics-grid">
			<div class="title">
				<div class="left">
					<h2>Epic's list</h2>
					<div class="items">
						<span>{{ (epics$ | async)?.length }}</span>
						<span>items</span>
					</div>
				</div>
			</div>
			<p class="desc-title">Find below the list of epics in your project.</p>

			<mat-accordion multi>
				@for (epic of epics$ | async; track $index) {
					<mat-expansion-panel hideToggle [disabled]="isPanelDisabled">
						<mat-expansion-panel-header>
							<mat-panel-title> {{ epic.code }} </mat-panel-title>
							<mat-panel-title> {{ epic.title }} </mat-panel-title>
							<mat-panel-description> {{ epic.description }} </mat-panel-description>
							<mat-panel-description>
								<mat-icon (click)="openPopUpEditEpic(epic.eid)">edit</mat-icon>
							</mat-panel-description>
							<mat-panel-description>
								<mat-icon (click)="openPopUpDeleteEpic(epic.eid)">delete</mat-icon>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<table mat-table [dataSource]="histories" class="epics-table">
							<!-- Key Column -->
							<ng-container matColumnDef="key">
								<th mat-header-cell *matHeaderCellDef>Key</th>
								<td mat-cell *matCellDef="let element">{{ element.key }}</td>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="name">
								<th mat-header-cell *matHeaderCellDef>History</th>
								<td mat-cell *matCellDef="let element">{{ element.name }}</td>
							</ng-container>

							<!-- Description Column -->
							<ng-container matColumnDef="description">
								<th mat-header-cell *matHeaderCellDef>Description</th>
								<td mat-cell *matCellDef="let element">{{ element.description }}</td>
							</ng-container>

							<!-- Status Column -->
							<ng-container matColumnDef="status">
								<th mat-header-cell *matHeaderCellDef>Status</th>
								<td mat-cell *matCellDef="let element">
									<div #statusContainer class="status-container">
										{{ element.status }}
									</div>
								</td>
							</ng-container>

							<!-- Priority Column -->
							<ng-container matColumnDef="priority">
								<th mat-header-cell *matHeaderCellDef>Priority</th>
								<td mat-cell *matCellDef="let element">
									<img src="{{ priorityParser(element.priority) }}" alt="{{ element.priority }} priority" />
								</td>
							</ng-container>

							<!-- Time Created Column -->
							<ng-container matColumnDef="time_created">
								<th mat-header-cell *matHeaderCellDef>Created</th>
								<td mat-cell *matCellDef="let element">{{ element.time_created }}</td>
							</ng-container>

							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
						</table>
						<div class="add-issue" (click)="openPopUpIssue()">+ Add another issue</div>
					</mat-expansion-panel>
				}
			</mat-accordion>
		</div>
	</div>
</div>

@if (popUpIssue) {
	<div class="pop-up-background" (click)="closePopUpIssue()"></div>

	<app-user-story-popup (closePopUpEmitter)="closePopUpIssue()"></app-user-story-popup>
}

@if (popUpCreateEpic) {
	<div class="pop-up-background" (click)="closePopUpCreateEpic()"></div>

	<div class="epic-pop-up">
		<div class="epic-pop-up-header">
			<h2>Create a new Epic</h2>
			<p>Fill the needed information to be able to create your epic.</p>
		</div>
		<form [formGroup]="createEpicForm" class="pop-up-form" (ngSubmit)="submitForm()">
			<div class="pop-up-form-content">
				<div class="input-wrapper">
					<label for="epic-code">Epic's Code</label>
					<input type="text" id="epic-code" name="epic-code" formControlName="code" placeholder="EPC-1" />
					<span *ngIf="isFieldInvalid('code')"><mat-icon>error</mat-icon> {{ getFieldErrorMessage("code") }} </span>
				</div>
				<div class="input-wrapper">
					<label for="epic-name">Epic's Name</label>
					<input
						type="text"
						id="epic-name"
						name="epic-name"
						formControlName="name"
						placeholder="Insert the name of the epic"
					/>
					<span *ngIf="isFieldInvalid('name')"><mat-icon>error</mat-icon> {{ getFieldErrorMessage("name") }} </span>
				</div>
				<div class="input-wrapper">
					<label for="epic-description">Description</label>
					<textarea
						id="epic-description"
						name="epic-description"
						formControlName="description"
						placeholder="Insert a description"
					></textarea>
					<span *ngIf="isFieldInvalid('description')"
						><mat-icon>error</mat-icon> {{ getFieldErrorMessage("description") }}
					</span>
				</div>
			</div>
			<div class="pop-up-footer">
				<button type="submit" [disabled]="createEpicForm.invalid">Create</button>
				<button class="cancel-epic" (click)="closePopUpCreateEpic()">Cancel</button>
			</div>
		</form>
	</div>
}

@if (popUpEditEpic) {
	<div class="pop-up-background" (click)="closePopUpDeleteEpic()"></div>
	<div class="epic-pop-up">
		<div class="epic-pop-up-header">
			<h2>Edit an Epic</h2>
			<p>Update the necessary information to edit your epic.</p>
		</div>
		<form [formGroup]="editEpicForm" class="pop-up-form" (ngSubmit)="submitEditEpicForm()">
			<div class="pop-up-form-content">
				<div class="input-wrapper">
					<label for="epic-code">Epic's Code</label>
					<input type="text" id="epic-code" name="epic-code" formControlName="code" placeholder="EPC-1" />
					<span *ngIf="isFieldInvalid('code')"><mat-icon>error</mat-icon> {{ getFieldErrorMessage("code") }} </span>
				</div>
				<div class="input-wrapper">
					<label for="epic-name">Epic's Name</label>
					<input
						type="text"
						id="epic-name"
						name="epic-name"
						formControlName="name"
						placeholder="Insert the name of the epic"
					/>
					<span *ngIf="isFieldInvalid('name')"><mat-icon>error</mat-icon> {{ getFieldErrorMessage("name") }} </span>
				</div>
				<div class="input-wrapper">
					<label for="epic-description">Description</label>
					<textarea
						id="epic-description"
						name="epic-description"
						formControlName="description"
						placeholder="Insert a description"
					></textarea>
					<span *ngIf="isFieldInvalid('description')"
						><mat-icon>error</mat-icon> {{ getFieldErrorMessage("description") }}
					</span>
				</div>
			</div>
			<div class="pop-up-footer">
				<button type="submit" [disabled]="editEpicForm.invalid">Submit</button>
				<button class="cancel-epic" (click)="closePopUpEditEpic()">Cancel</button>
			</div>
		</form>
	</div>
}

@if (popUpDeleteEpic) {
	<div class="pop-up-background" (click)="closePopUpDeleteEpic()"></div>

	<app-delete-popup
		[title]="'Delete Epic'"
		[description]="'Are you sure you want to delete this epic? You cannot go back on this action.'"
		(cancelEmitter)="closePopUpDeleteEpic()"
		(confirmDeleteEmmiter)="onDeleteEpic()"
	></app-delete-popup>
}
