@use "../../../../../../src/assets/variables.scss" as v;
@use "../../../../../assets/expansion-panel.scss";

app-navbar{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
}

.kanban-page-content{
    margin-top: 67px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 12px;
    margin: 1em;

    & > div {
        background-color: v.$white-color;
        border-radius: 12px;
        padding: 1em;
    }

    & > .epics-grid{
        .title{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .left{
                display: flex;
                align-items: center;

                h2{
                    font-size: v.$h2-font;
                    font-weight: 500;
                    margin-right: 11px;
                }
    
                .items{
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    background-color: v.$purple-color;
                    padding: 1px 2.5px;
                    border-radius: 3px;
                    height: fit-content;
    
                    span{
                        font-size: 9px;
                        color: v.$white-color;
                    }
                }
            }

        }

        p{
            font-size: v.$paragraph-font;
            color: v.$grey-color;
            font-weight: 400;
            margin-top: 10px;
        }
        .desc-title{
            margin-bottom: 30px;
        } 
				.mat-expansion-panel-header-title{
					color: v.$black-color;
					font-weight: 400;
					
					&:nth-of-type(1){
							flex-grow: 0.2;
							font-weight: 500;
							color: v.$purple-color;
					}
				}
				.epics-table {
					width: 100%;
					border-spacing: 0px 1.5px;
					//background-color: red;
					.mat-mdc-header-cell{
							border: none;

							&:nth-child(4){
								text-align: center;
							}

							&:nth-child(5){
									text-align: center;
							}

							&:nth-child(6){
								text-align: center;
							}
					}

					.mat-mdc-cell{
							border: none;

							&:nth-child(6){
									text-align: center;
							}

							&:nth-child(1){
									color: v.$epics-dark-green-color;
									font-weight: 500;
							}

							&:nth-child(5){
								text-align: center;
							}

							&:nth-child(4){
									text-align: center;
									display: flex;
									align-items: center;
									justify-content: center;
									padding: 10px;
									.status-container{
											background-color: red;
											border-radius: 2px;
											font-weight: 500;
											width: 110px;
									}
							}
					}

					.mat-mdc-row {
							height: 40px;

							&:nth-child(odd){
									background-color: v.$background-grey;

							}

					}


			}


    }

    & > .header-grid {
        grid-column: auto;
        grid-row: 1;
        z-index: 0;
        padding: 2em 1em;

				.breadcrump-epics-wrapper {
					display: grid; 
					grid-template-columns: auto auto; 
					grid-template-rows: auto auto; 
					grid-template-areas: 
							"top right"
							"bottom right";

					.breadcrumber{
						grid-area: top;
						display: flex;
            align-items: center;
            text-decoration: none;

            .spacer{
                font-size: 11px;
            }

            li + div {
                margin: 0 5px;
            }

            li{
                font-size: v.$observation-font;
                font-weight: 400;
                cursor: pointer;
                list-style: none;

                &:nth-last-child(1){
                    font-weight: 500;
                }

                a {
                    text-decoration: none;
                    color: v.$dark-green-color;
                }
            }
        
        	}

        	h1{
						grid-area: bottom;
            font-size: v.$title-font;
            font-weight: 500;
            margin-bottom: 19px;
        	}

					.buttons-header {
						grid-area: right;
						align-self: center; 
						justify-self: end;
						display: flex;
						align-items: center;
						justify-content: space-between;

						#button-create-epic {
							height: 31px;
							width: 127px;
							background-color: v.$epics-light-grey-color;
							border: none;
							border-radius: 4px;
							margin-right: 12px;
						}

						.mat-icon-button {
							display: flex;
							align-items: center;
							background-color: transparent;
							border: none;
						}

					}

				}

        p{
            font-size: v.$sub-title-font;
            color: v.$grey-color;
            max-width: 550px;
        
        }
    }

}

.pop-up-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: v.$pop-up-background-color;
		z-index: 50;
		display: flex;
		justify-content: center;
		align-items: center;
}


.epic-pop-up {
	background-color: v.$white-color;
	border-radius: 12px;
	padding: 2em 0;
	width: 500px;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

	.epic-pop-up-header {
		display: flex;
		justify-content: center;
		align-items: center;

		h2 {
			font-size: v.$h2-font;
			font-weight: 500;
		}

	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 40px 5px 30px 5px;
		width: 300px;

		.input-wrapper {
			display: flex;
			flex-direction: column;
			margin-bottom: 1.5em;

			input, textarea {
				height: 45px;
				background-color: #f2f2f2;
				border: none;
				padding-left: 20px;
				border-radius: 2px;
				
				&:focus{
					outline: none;
					border: 1px solid v.$green-color;
				}
			}

			textarea {
				max-width: 280px;
				max-height: 35px;
				padding: 15px 20px;
				resize: none;
			}

			span{
				display: flex;
				align-items: center;
				color: v.$error-color;
				font-size: v.$observation-font;
				position: absolute;
				bottom: 105px;

				mat-icon{
						height: fit-content;
						width: fit-content;
						margin-right: 5px;
						font-size: v.$paragraph-font;
				}
			}
			
		}

		.pop-up-footer {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			height: fit-content;
			
			button {
				width: 33%;
				height: 40px;
				text-align: center;
				color: #fff;
				font-weight: 500;
				font-size: 14px;
				background-color: #6dc955;
				border: none;
				border-radius: 2px;
				cursor: pointer;
			}
			button.cancel-epic {
				background-color: v.$grey-color;
			}
		}
	}

}


@media only screen and (max-width: 1500px) {

    .kanban-page-content{
        margin: 67px 3em 0 3em;
    }

}

@media only screen and (min-width: 1400px) {
    .kanban-page-content{
        .grid-container{
            .agile-process-grid{
                padding: 1em 2em 2em 2em;
            }
        }
    }
}

@media only screen and (min-width: 1800px) {

    .kanban-page-content{
        margin: 67px 5em 0 5em;
    }

}