// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "app/styles/m3-theme.scss" as m3-theme;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$forge-frontend-theme: m3-theme.$light-theme;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
	@include mat.all-component-themes($forge-frontend-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($forge-frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($forge-frontend-theme);
* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8f8f8;
}

button {
	&:hover {
		transition: 0.1s;
		cursor: pointer;
		filter: brightness(0.8);
	}
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "ngx-toastr/toastr";
@import "app/styles/tasks-table.scss";
