@use "../../../../../../src/assets/variables.scss" as v;
@use "../../../../../assets/expansion-panel.scss";

app-navbar {
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 99;
}

.kanban-page-content {
	margin-top: 67px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	gap: 12px;
	margin: 1em;

	& > div {
		background-color: v.$white-color;
		border-radius: 12px;
		padding: 1em;
	}

	& > .kanban-grid {
		.title {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			margin-bottom: 25px;

			.left {
				display: flex;
				flex-direction: column;

				.left-content {
					display: flex;
					align-items: center;

					h2 {
						font-size: v.$h2-font;
						font-weight: 500;
						margin-right: 11px;
					}

					.tag {
						display: flex;
						align-items: center;
						gap: 2px;
						padding: 1px 2.5px;
						border-radius: 3px;
						height: fit-content;
						margin-right: 0.1em;

						span {
							font-size: 9px;
							color: v.$white-color;
						}

						&.past {
							background-color: v.$grey-color;
						}

						&.ongoing {
							background-color: v.$lemon-color;
						}

						&.future {
							background-color: v.$grey-color;
						}

						&.plan {
							background-color: #ff6347;
						}

						&.design {
							background-color: #ffa500;
						}

						&.develop {
							background-color: #8404be;
						}

						&.test {
							background-color: #325bcd;
						}

						&.deploy {
							background-color: #41bce1;
						}

						&.launch {
							background-color: #a82be2;
						}

						&.review {
							background-color: #ff1493;
						}

						&.complete {
							background-color: #009400;
						}
					}
				}
			}

			.right {
				display: flex;
				flex-direction: column;
				align-items: end;

				button {
					height: 24px;
					background-color: transparent;
					border: none;
					margin-bottom: 7px;

					mat-icon {
						transform: translateY(5px);
					}
				}
			}
		}

		p {
			font-size: v.$paragraph-font;
			color: v.$grey-color;
			font-weight: 400;
			margin-top: 10px;
		}
	}

	& > .header-grid {
		grid-column: auto;
		grid-row: 1;
		z-index: 0;
		padding: 2em 1em;

		.breadcrumber {
			display: flex;
			align-items: center;
			text-decoration: none;

			.spacer {
				font-size: 11px;
			}

			li + div {
				margin: 0 5px;
			}

			li {
				font-size: v.$observation-font;
				font-weight: 400;
				cursor: pointer;
				list-style: none;

				&:nth-last-child(1) {
					font-weight: 500;
				}

				a {
					text-decoration: none;
					color: v.$dark-green-color;
				}
			}
		}

		h1 {
			font-size: v.$title-font;
			font-weight: 500;
			margin-bottom: 19px;
		}

		p {
			font-size: v.$sub-title-font;
			color: v.$grey-color;
			max-width: 550px;
		}
	}
}

.responsible {
	display: flex;
	align-items: center;
	gap: 0.5em;
	p {
		margin-top: 1em !important;
		font-size: 0.8em !important;
	}
	.priority {
		margin-top: 1em;
		margin-right: 0.5em;
		margin-left: auto;
	}
}

@media only screen and (max-width: 1500px) {
	.kanban-page-content {
		margin: 67px 3em 0 3em;
	}
}

@media only screen and (min-width: 1400px) {
	.kanban-page-content {
		.grid-container {
			.agile-process-grid {
				padding: 1em 2em 2em 2em;
			}
		}
	}
}

@media only screen and (min-width: 1800px) {
	.kanban-page-content {
		margin: 67px 5em 0 5em;
	}
}
