<app-navbar></app-navbar>
<div class="kanban-page-content">
	<div class="grid-container">
		<div class="header-grid">
			<ul class="breadcrumber">
				<li>
					<a>{{ project?.code }}</a>
				</li>
				<div class="spacer">></div>
				<li><a>Kanban board</a></li>
			</ul>
			<h1>Kanban board</h1>
			<p>Quadro Kanban para Gerenciamento de Features Disponíveis e Prontas para o Início do Desenvolvimento de Projetos.</p>
		</div>

		@for (sprint of sprints; track $index) {
			<div class="kanban-grid">
				<div class="title">
					<div class="left">
						<div class="left-content">
							<h2>Sprint {{ sprint.index }}</h2>
							@if (sprint.periodStatus == 1) {
								<mat-icon
									class="info-tooltip"
									matTooltip="This is the Kanban board for the PAST sprint, where tasks are managed and tracked as they progress through different stages."
									>info</mat-icon
								>
							}

							@if (sprint.periodStatus == 2) {
								<mat-icon
									class="info-tooltip"
									matTooltip="This is the Kanban board for the CURRENT sprint, where tasks are managed and tracked as they progress through different stages."
									>info</mat-icon
								>
							}

							@if (sprint.periodStatus == 3) {
								<mat-icon
									class="info-tooltip"
									matTooltip="This is the Kanban board for the FUTURE sprint, where tasks are managed and tracked as they progress through different stages."
									>info</mat-icon
								>
							}

							<div class="tag {{ sprint.status | sprintStatusClass }}">
								<span>{{ sprint.status | sprintStatus }}</span>
							</div>
							<div class="tag {{ sprint.periodStatus | sprintPeriodStatusClass }}">
								<span>{{ sprint.periodStatus | sprintPeriodStatus }}</span>
							</div>
						</div>
					</div>

					<div class="right">
						<button mat-icon-button>
							<mat-icon>more_horiz</mat-icon>
						</button>

						@if (sprint.periodStatus == 1) {
							<p class="sprint-date">
								Period {{ sprint.startsAt | date: "dd/MM/YYYY" }} - {{ sprint.endsAt | date: "dd/MM/YYYY" }}
							</p>
						}

						@if (sprint.periodStatus == 2) {
							<p class="sprint-date">
								Started at {{ sprint.startsAt | date: "dd/MM/YYYY" }} with {{ sprint.endsAt | daysDifference }} day(s) left
							</p>
						}

						@if (sprint.periodStatus == 3) {
							<p class="sprint-date">Will start at {{ sprint.startsAt | date: "dd/MM/YYYY" }}</p>
						}
					</div>
				</div>

				@if (detailedSprints[sprint.eid] && userStoriesPerSprint[sprint.eid]) {
					<mat-accordion multi>
						@if (userStoriesPerSprint[sprint.eid].length > 0) {
							@for (userstory of userStoriesPerSprint[sprint.eid]; track userstory) {
								<mat-expansion-panel>
									<mat-expansion-panel-header>
										<mat-panel-title> {{ userstory.code }} </mat-panel-title>
										<mat-panel-title> {{ userstory.title | maxLength: 35 }} </mat-panel-title>
										<mat-panel-description> {{ userstory.description | maxLength: 60 }} </mat-panel-description>
									</mat-expansion-panel-header>

									<div class="group-list">
										@for (taskStatus of [1, 2, 3, 4, 5]; track taskStatus) {
											<app-kanban-column
												[dropCallback]="onCdkDropEvent.bind(this)"
												[taskClickCallback]="openTaskPopUp.bind(this)"
												[status]="taskStatus"
												[members]="project!.members"
												[sprint]="this.detailedSprints[sprint.eid]"
												[dropListIds]="sprintDropListIds[sprint.eid]"
											/>
										}
									</div>
								</mat-expansion-panel>
							}
						} @else {
							<div class="no-userstory">
								<h3>This sprint has no user stories.</h3>
								<p>You can create a user story on the <a [routerLink]="['/', projectEid, 'epics']">Epic page</a>.</p>
							</div>
						}
					</mat-accordion>
				} @else {
					<div class="spinner">
						<mat-progress-bar mode="indeterminate"></mat-progress-bar>
					</div>
				}
			</div>
		}
	</div>
</div>

@if (popUpTask) {
	<div class="pop-up-background" (click)="closePopUpTask()"></div>
	<app-task-details
		[task]="selectedTask"
		[responsible]="getResponsible(selectedTask.responsibleEid!)"
		[projectEid]="projectEid"
		(closePopUpEmitter)="closePopUpTask()"
		(closePopUpEmitterDeletedTask)="loadSprintData()"
		(closePopUpEmitterEditedTask)="loadSprintData()"
	></app-task-details>
}
