<app-navbar></app-navbar>
<div class="kanban-page-content">
	<div class="grid-container">
		<div class="header-grid">
			<ul class="breadcrumber">
				<li><a href="">Squad BES</a></li>
				<div class="spacer">></div>
				<li><a href="">TCC 1</a></li>
				<div class="spacer">></div>
				<li><a href="/kanban">Kanban board</a></li>
			</ul>
			<h1>Kanban board</h1>
			<p>Quadro Kanban para Gerenciamento de Features Disponíveis e Prontas para o Início do Desenvolvimento de Projetos.</p>
		</div>

		@for (sprint of sprints; track $index) {
			<div class="kanban-grid">
				<div class="title">
					<div class="left">
						<div class="left-content">
							<h2>Sprint {{ sprint.index }}</h2>
							<div class="tag {{ sprint.status | sprintStatusClass }}">
								<span>{{ sprint.status | sprintStatus }}</span>
							</div>
							<div class="tag {{ sprint.periodStatus | sprintPeriodStatusClass }}">
								<span>{{ sprint.periodStatus | sprintPeriodStatus }}</span>
							</div>
						</div>
					</div>

					<div class="right">
						<button mat-icon-button>
							<mat-icon>more_horiz</mat-icon>
						</button>

						<p class="sprint-date">
							Started at {{ sprint.startsAt | date: "dd/MM/YYYY" }} with {{ sprint.endsAt | daysDifference }} day(s) left
						</p>
					</div>
				</div>

				@if (detailedSprints[sprint.eid] && userStoriesPerSprint[sprint.eid]) {
					<mat-accordion multi>
						@if (userStoriesPerSprint[sprint.eid].length > 0) {
							@for (userstory of userStoriesPerSprint[sprint.eid]; track userstory) {
								<mat-expansion-panel>
									<mat-expansion-panel-header>
										<mat-panel-title> {{ userstory.code }} </mat-panel-title>
										<mat-panel-title> {{ userstory.title | maxLength: 35 }} </mat-panel-title>
										<mat-panel-description> {{ userstory.description | maxLength: 60 }} </mat-panel-description>
									</mat-expansion-panel-header>

									<div cdkDropListGroup class="group-list">
										<div class="kanban-wrapper">
											<div class="title">
												<h2>To do</h2>
												<div class="count">
													<span>{{ getTasksOfStatus(sprint.eid, userstory.eid, 1).length }}</span>
													<span>left</span>
												</div>
											</div>
											<div cdkDropList id="taskstatus-1" class="kanban-list" (cdkDropListDropped)="drop($event)">
												@for (task of getTasksOfStatus(sprint.eid, userstory.eid, 1); track task) {
													<div
														class="container-item"
														cdkDrag
														id="task-{{ sprint.eid }}-{{ task.eid }}"
														(click)="openTaskPopUp(task.eid)"
													>
														<div class="placeholder" *cdkDragPlaceholder></div>
														<div class="content">
															<div [class]="task.type | taskTypeClass"></div>
															<h3>{{ task.title }}</h3>
															<p class="desc">{{ task.description }}</p>
															<span class="responsible">
																@if (task.responsibleEid) {
																	<img [src]="getGravatarUrl(task.responsibleEid)" />
																	<p>{{ getUsername(task.responsibleEid) }}</p>
																} @else {
																	<p>Not assigned</p>
																}
																<img
																	class="nonavatar priority"
																	src="{{ task.priority | priority | icon }}"
																	alt="{{ task.priority }} priority"
																/>
															</span>
														</div>
													</div>
												}
											</div>
										</div>

										<div class="kanban-wrapper">
											<div class="title">
												<h2>In progress</h2>
												<div class="count">
													<span>{{ getTasksOfStatus(sprint.eid, userstory.eid, 2).length }}</span>
													<span>left</span>
												</div>
											</div>

											<div cdkDropList id="taskstatus-2" class="kanban-list" (cdkDropListDropped)="drop($event)">
												@for (task of getTasksOfStatus(sprint.eid, userstory.eid, 2); track task) {
													<div
														class="container-item"
														cdkDrag
														id="task-{{ sprint.eid }}-{{ task.eid }}"
														(click)="openTaskPopUp(task.eid)"
													>
														<div class="placeholder" *cdkDragPlaceholder></div>
														<div class="content">
															<div [class]="task.type | taskTypeClass"></div>
															<h3>{{ task.title }}</h3>
															<p class="desc">{{ task.description }}</p>
															<span class="responsible">
																@if (task.responsibleEid) {
																	<img [src]="getGravatarUrl(task.responsibleEid)" />
																	<p>{{ getUsername(task.responsibleEid) }}</p>
																} @else {
																	<p>Not assigned</p>
																}
																<img
																	class="nonavatar priority"
																	src="{{ task.priority | priority | icon }}"
																	alt="{{ task.priority }} priority"
																/>
															</span>
														</div>
													</div>
												}
											</div>
										</div>

										<div class="kanban-wrapper">
											<div class="title">
												<h2>Available to review</h2>
												<div class="count">
													<span>{{ getTasksOfStatus(sprint.eid, userstory.eid, 3).length }}</span>
													<span>left</span>
												</div>
											</div>

											<div cdkDropList id="taskstatus-3" class="kanban-list" (cdkDropListDropped)="drop($event)">
												@for (task of getTasksOfStatus(sprint.eid, userstory.eid, 3); track task) {
													<div
														class="container-item"
														cdkDrag
														id="task-{{ sprint.eid }}-{{ task.eid }}"
														(click)="openTaskPopUp(task.eid)"
													>
														<div class="placeholder" *cdkDragPlaceholder></div>
														<div class="content">
															<div [class]="task.type | taskTypeClass"></div>
															<h3>{{ task.title }}</h3>
															<p class="desc">{{ task.description }}</p>
															<span class="responsible">
																@if (task.responsibleEid) {
																	<img [src]="getGravatarUrl(task.responsibleEid)" />
																	<p>{{ getUsername(task.responsibleEid) }}</p>
																} @else {
																	<p>Not assigned</p>
																}
																<img
																	class="nonavatar priority"
																	src="{{ task.priority | priority | icon }}"
																	alt="{{ task.priority }} priority"
																/>
															</span>
														</div>
													</div>
												}
											</div>
										</div>

										<div class="kanban-wrapper">
											<div class="title">
												<h2>Reviewing</h2>
												<div class="count">
													<span>{{ getTasksOfStatus(sprint.eid, userstory.eid, 4).length }}</span>
													<span>left</span>
												</div>
											</div>

											<div cdkDropList id="taskstatus-4" class="kanban-list" (cdkDropListDropped)="drop($event)">
												@for (task of getTasksOfStatus(sprint.eid, userstory.eid, 4); track task) {
													<div
														class="container-item"
														cdkDrag
														id="task-{{ sprint.eid }}-{{ task.eid }}"
														(click)="openTaskPopUp(task.eid)"
													>
														<div class="placeholder" *cdkDragPlaceholder></div>
														<div class="content">
															<div [class]="task.type | taskTypeClass"></div>
															<h3>{{ task.title }}</h3>
															<p class="desc">{{ task.description }}</p>
															<span class="responsible">
																@if (task.responsibleEid) {
																	<img [src]="getGravatarUrl(task.responsibleEid)" />
																	<p>{{ getUsername(task.responsibleEid) }}</p>
																} @else {
																	<p>Not assigned</p>
																}
																<img
																	class="nonavatar priority"
																	src="{{ task.priority | priority | icon }}"
																	alt="{{ task.priority }} priority"
																/>
															</span>
														</div>
													</div>
												}
											</div>
										</div>

										<div class="kanban-wrapper">
											<div class="title">
												<h2>Done</h2>
												<div class="count">
													<span>{{ getTasksOfStatus(sprint.eid, userstory.eid, 5).length }}</span>
													<span>completed</span>
												</div>
											</div>

											<div cdkDropList id="taskstatus-5" class="kanban-list" (cdkDropListDropped)="drop($event)">
												@for (task of getTasksOfStatus(sprint.eid, userstory.eid, 5); track task) {
													<div
														class="container-item"
														cdkDrag
														id="task-{{ sprint.eid }}-{{ task.eid }}"
														(click)="openTaskPopUp(task.eid)"
													>
														<div class="placeholder" *cdkDragPlaceholder></div>
														<div class="content">
															<div [class]="task.type | taskTypeClass"></div>
															<h3>{{ task.title }}</h3>
															<p class="desc">{{ task.description }}</p>
															<span class="responsible">
																@if (task.responsibleEid) {
																	<img [src]="getGravatarUrl(task.responsibleEid)" />
																	<p>{{ getUsername(task.responsibleEid) }}</p>
																} @else {
																	<p>Not assigned</p>
																}
																<img
																	class="nonavatar priority"
																	src="{{ task.priority | priority | icon }}"
																	alt="{{ task.priority }} priority"
																/>
															</span>
														</div>
													</div>
												}
											</div>
										</div>
									</div>
								</mat-expansion-panel>
							}
						} @else {
							<p>This sprint has no user stories</p>
						}
					</mat-accordion>
				} @else {
					<div class="spinner">
						<mat-progress-bar mode="indeterminate"></mat-progress-bar>
					</div>
				}
			</div>
		}
	</div>
</div>

@if (popUpTask) {
	<div class="pop-up-background" (click)="closePopUpTask()"></div>
	<app-task-details
		[task]="selectedTask"
		[responsible]="getUser(selectedTask.responsibleEid!)"
		[projectEid]="projectEid"
		(closePopUpEmitter)="closePopUpTask()"
		(closePopUpEmitterDeletedTask)="loadSprintData()"
	></app-task-details>
}
