@use "../../../../../../src/assets/variables.scss" as v;
@use "../../../../../assets/expansion-panel.scss";
@use "../../pages/epic-page/epics-page.component.scss";

app-navbar {
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 99;
}

.backlog-page-content {
	margin-top: 67px;
}

.default-class {
	border-left: 3px solid v.$green-color !important;
}

.task-class {
	border-left: 3px solid v.$green-color !important;
}

.bug-class {
	border-left: 3px solid v.$alert-color !important;
}

.test-class {
	border-left: 3px solid v.$blue-color !important;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	gap: unset;
	margin: 1em;

	& > div {
		background-color: v.$white-color;
		border-radius: 12px;
		padding: 1em;
		margin-bottom: 12px;
	}

	& > .backlog-grid {
		.grey-button {
			margin-top: -5px;
			padding: 8px 14px 8px 14px;
			background-color: v.$epics-light-grey-color;
			border: none;
			border-radius: 4px;
		}
		.green-button {
			color: white;
			background-color: v.$green-color;
			border-radius: 2px;
			margin: unset;
			border: none;
			width: 114px;
			height: 30px;

			&:disabled {
				background-color: v.$disabled-background-color;
				color: v.$disabled-color;
				cursor: not-allowed;
			}
		}
		.title {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			margin-bottom: 25px;

			.left {
				display: flex;
				flex-direction: column;

				.left-content {
					display: flex;
					align-items: center;

					h2 {
						font-size: v.$h2-font;
						font-weight: 500;
						margin-right: 11px;
					}

					.tag {
						display: flex;
						align-items: center;
						gap: 2px;
						padding: 1px 2.5px;
						border-radius: 3px;
						height: fit-content;
						margin-right: 0.1em;

						span {
							font-size: 9px;
							color: v.$white-color;
						}

						&.past {
							background-color: v.$grey-color;
						}

						&.ongoing {
							background-color: v.$lemon-color;
						}

						&.future {
							background-color: v.$grey-color;
						}

						&.plan {
							background-color: #ff6347;
						}

						&.design {
							background-color: #ffa500;
						}

						&.develop {
							background-color: #8404be;
						}

						&.test {
							background-color: #325bcd;
						}

						&.deploy {
							background-color: #41bce1;
						}

						&.launch {
							background-color: #a82be2;
						}

						&.review {
							background-color: #ff1493;
						}

						&.complete {
							background-color: #009400;
						}
					}

					.items {
						display: flex;
						align-items: center;
						gap: 2px;
						background-color: v.$lemon-color;
						padding: 1px 2.5px;
						border-radius: 3px;
						height: fit-content;

						span {
							font-size: 9px;
							color: v.$white-color;
						}
					}
				}
			}

			.right {
				display: flex;
				flex-direction: column;
				align-items: end;

				button {
					height: 24px;
					background-color: transparent;
					border: none;
					margin-bottom: 7px;

					mat-icon {
						transform: translateY(5px);
					}
				}
			}
		}

		p {
			font-size: v.$paragraph-font;
			color: v.$grey-color;
			font-weight: 400;
			margin-top: 10px;
		}

		.mat-expansion-panel-header-title {
			&:nth-of-type(1) {
				// User Story priority
				flex-grow: 0.1;
				max-width: 14px;
			}
			&:nth-of-type(2) {
				// User Story code
				flex-grow: 0.4;
				max-width: 110px;
				width: 100%;
				font-weight: 500;
				color: v.$dark-green-color;
				justify-content: center;
			}
			&:nth-of-type(3) {
				// User Story title
				max-width: 390px;
			}
		}

		&:nth-child(3) {
			.mat-expansion-panel-header-description {
				&:nth-of-type(1) {
					max-width: 500px;
				}

				&:nth-last-of-type(1) {
					flex-grow: 0.5;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 16px;
				}
			}
		}

		.add-issue {
			color: v.$label-background-grey;
			font-size: v.$paragraph-font;
			font-weight: 500;
			cursor: pointer;
			margin: 16px 0 0 22px;
		}
	}

	.no-sprint {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100px;
		font-size: v.$h2-font;
		color: v.$grey-color;

		h3 {
			margin-bottom: 10px;
			font-weight: 500;
		}

		.green-button {
			color: white;
			background-color: v.$green-color;
			border-radius: 2px;
			margin: unset;
			border: none;
			padding: 10px 20px;
			width: initial;
			height: initial;

			&:disabled {
				background-color: v.$disabled-background-color;
				color: v.$disabled-color;
				cursor: not-allowed;
			}
		}

		p {
			a {
				color: v.$dark-green-color;
				text-decoration: none;
			}
		}
	}
	& > .header-grid {
		grid-column: auto;
		grid-row: 1;
		z-index: 0;
		padding: 2em 1em;

		.breadcrumber {
			display: flex;
			align-items: center;
			text-decoration: none;

			.spacer {
				font-size: 11px;
			}

			li + div {
				margin: 0 5px;
			}

			li {
				font-size: v.$observation-font;
				font-weight: 400;
				cursor: pointer;
				list-style: none;

				&:nth-last-child(1) {
					font-weight: 500;
				}

				a {
					text-decoration: none;
					color: v.$dark-green-color;
				}
			}
		}

		h1 {
			font-size: v.$title-font;
			font-weight: 500;
			margin-bottom: 19px;
		}

		p {
			font-size: v.$sub-title-font;
			color: v.$grey-color;
			max-width: 550px;
		}
	}

	& > .sprint-group-title {
		margin-bottom: 0;
		border-radius: 12px 12px 0 0;

		.sprint-title-and-items-wrapper {
			display: flex;
			align-items: center;
			width: fit-content;

			h2 {
				font-size: v.$h2-font;
				font-weight: 500;
				margin-bottom: 0;
				margin-right: 11px;
			}
			.items {
				display: flex;
				align-items: center;
				gap: 2px;
				background-color: v.$lemon-color;
				padding: 1px 2.5px;
				border-radius: 3px;
				height: fit-content;

				span {
					font-size: 9px;
					color: v.$white-color;
				}
			}
		}
	}

	& > .past-sprint,
	& > .future-sprint {
		margin-bottom: 0;
		border-radius: 0;
		padding: 0 20px 20px 20px;

		.sprint-round-container {
			border: 1px solid rgba(0, 0, 0, 0.3);
			border-radius: 15px;
			padding: 20px;

			.title {
				.left-content {
					h2 {
						font-size: 15px !important;
					}
				}
			}
		}
	}

	& > .first-sprint {
		border-radius: 0px;
	}

	& > .last-sprint {
		border-radius: 0 0 12px 12px;
		margin-bottom: 12px;
	}
}

.pop-up-background {
	position: fixed;
	z-index: 99 !important;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: v.$pop-up-background-color;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeInOpacity 0.2s ease-out;
}

.fade-opacity {
	animation: fadeOutOpacity 0.2s ease-out !important;
}

.fade-out {
	animation: fadeOut 0.2s ease-out !important;
}

.epic-pop-up {
	.pop-up-form-content {
		.input-wrapper {
			select {
				height: 40px;
				background-color: #f2f2f2;
				border: none;
				padding-left: 20px;
				border-radius: 2px;
				padding: 0px 14px;

				&:focus {
					outline: none;
					border: 1px solid v.$green-color;
				}
			}
		}
	}
}

@media only screen and (max-width: 1500px) {
	.backlog-page-content {
		margin: 67px 3em 0 3em;
	}
}

@media only screen and (min-width: 1400px) {
	.backlog-page-content {
		.grid-container {
			.agile-process-grid {
				padding: 1em 2em 2em 2em;
			}
		}
	}
}

@media only screen and (min-width: 1800px) {
	.backlog-page-content {
		margin: 67px 5em 0 5em;
	}
}

@keyframes fadeOut {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
