<app-navbar></app-navbar>
<div class="backlog-page-content">
	<div class="grid-container">
		<div class="header-grid">
			<div class="breadcrump-epics-wrapper">
				<ul class="breadcrumber">
					<li>
						<a>{{ projectName }}</a>
					</li>
					<div class="spacer">></div>
					<li><a>Backlog</a></li>
				</ul>
				<h1>Backlog</h1>
				<div class="buttons-header">
					<button id="button-create-epic" (click)="openPopUpCreateSprint()" matRipple>Create new Sprint</button>
					<button mat-icon-button class="mat-icon-button">
						<mat-icon>more_vert</mat-icon>
					</button>
				</div>
			</div>

			<p>This board will manage your features that are available to start development.</p>
		</div>

		<!-- Current Sprint -->
		<div class="backlog-grid sprint">
			@if (currentSprint.eid) {
				<div class="title">
					<div class="left">
						<div class="left-content">
							<h2>Sprint {{ currentSprint.index }}</h2>
							<mat-icon
								class="info-tooltip"
								matTooltip="A sprint is a short, fixed time in Scrum to complete specific tasks, usually lasting 1-4 weeks."
								>info</mat-icon
							>
							<div class="tag {{ currentSprint.status | sprintStatusClass }}">
								<span>{{ currentSprint.status | sprintStatus }}</span>
							</div>
							@if (userStoriesPerSprint[currentSprint.eid]) {
								<div class="tag items">
									<span>{{ userStoriesPerSprint[currentSprint.eid].length }}</span>
									<span>items</span>
								</div>
							}
						</div>
						<p class="desc">Find below the current sprint of the project.</p>
					</div>

					<div class="right">
						<button mat-icon-button [matMenuTriggerFor]="menu" matRipple>
							<mat-icon>more_horiz</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="openPopUpUpdateSprint(currentSprint.eid)">
								<span>Update sprint</span>
							</button>
						</mat-menu>
						<p class="sprint-date">
							Started at {{ currentSprint.startsAt | date: "dd/MM/YYYY" }} with
							{{ currentSprint.endsAt | daysDifference }} day(s) left
						</p>
					</div>
				</div>

				<mat-accordion multi>
					@if (userStoriesPerSprint[currentSprint.eid]) {
						@for (userstory of sortUserStoriesByPriority(userStoriesPerSprint[currentSprint.eid]); track $index) {
							<mat-expansion-panel [disabled]="isPanelDisabled">
								<mat-expansion-panel-header>
									<mat-panel-title> <img [src]="priorityImageParser(userstory.priority)" /> </mat-panel-title>
									<mat-panel-title> {{ userstory.code }} </mat-panel-title>
									<mat-panel-title> {{ userstory.title | maxLength: 40 }} </mat-panel-title>
									<mat-panel-description> {{ userstory.description | maxLength: 50 }} </mat-panel-description>
									<mat-panel-description>
										<button class="grey-button" (click)="openPopUpRemoveFromSprint(userstory.eid)" matRipple>
											Remove from sprint
										</button>
									</mat-panel-description>
								</mat-expansion-panel-header>
								@if (getTasksDataSource(userstory.eid) && getTasksDataSource(userstory.eid).data.length > 0) {
									<table
										mat-table
										[dataSource]="getTasksDataSource(userstory.eid)"
										matSort
										class="mat-elevation-z8 tasks-table sprint-history"
									>
										<ng-container matColumnDef="type">
											<th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
											<td
												[ngClass]="getTaskTypeClass(element.type)"
												#itemCell
												mat-cell
												*matCellDef="let element"
												(click)="openTaskPopUp(element.eid)"
											>
												{{ typeParser(element.type) }}
											</td>
										</ng-container>

										<ng-container matColumnDef="key">
											<th mat-header-cell *matHeaderCellDef>Key</th>
											<td mat-cell *matCellDef="let element">{{ element.code }}</td>
										</ng-container>

										<ng-container matColumnDef="subject">
											<th mat-header-cell *matHeaderCellDef>Subject</th>
											<td mat-cell *matCellDef="let element">
												{{ element.description | maxLength: 45 }}
											</td>
										</ng-container>

										<ng-container matColumnDef="status">
											<th mat-header-cell *matHeaderCellDef>Status</th>
											<td mat-cell *matCellDef="let element">
												<div #statusContainer class="status-container">
													{{ statusParser(element.status) | maxLength: 11 }}
												</div>
											</td>
										</ng-container>

										<ng-container matColumnDef="assignee">
											<th mat-header-cell *matHeaderCellDef>Responsible</th>
											<td mat-cell *matCellDef="let element">
												@if (element.responsibleEid === null) {
													<div class="assignee-container">
														<img src="../../../../../assets/unassigned-user.svg" />
														<p>Unassigned</p>
													</div>
												} @else {
													<div class="assignee-container">
														<img src="{{ getProjectMemberFromMap(element.responsibleEid)?.gravatar }}" />
														<p>{{ getProjectMemberFromMap(element.responsibleEid)?.name }}</p>
													</div>
												}
											</td>
										</ng-container>

										<ng-container matColumnDef="priority">
											<th mat-header-cell *matHeaderCellDef>Priority</th>
											<td mat-cell *matCellDef="let element">
												<img [src]="priorityImageParser(element.priority)" />
											</td>
										</ng-container>

										<ng-container matColumnDef="created">
											<th mat-header-cell *matHeaderCellDef>Created</th>
											<td mat-cell *matCellDef="let element">
												{{ element.createdAt | date }}
											</td>
										</ng-container>
										<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
										<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTaskPopUp(row)"></tr>
									</table>
								}
								<div class="add-issue" (click)="openPopUpCreateTask(userstory.eid)">+ Create new Task</div>
							</mat-expansion-panel>
						}
					}
				</mat-accordion>
			} @else {
				<div class="no-sprint">
					<h3>No current sprint available. Please create a new sprint.</h3>
					<button class="green-button" (click)="openPopUpCreateSprint()" matRipple>Create new Sprint</button>
				</div>
			}
		</div>

		<!-- Backlog -->
		<div class="backlog-grid">
			<div class="title">
				<div class="left">
					<div class="left-content">
						<h2>Backlog</h2>
						<mat-icon
							class="info-tooltip"
							matTooltip="The backlog is a prioritized list of tasks or user stories. Users can click 'Add to sprint' to move a story to the current sprint if it exists."
							>info</mat-icon
						>
						<div class="items">
							<span>{{ userStoriesInBacklog.length }}</span>
							<span>items</span>
						</div>
					</div>
					<p class="desc">Find below the list of UserStories in the backlog.</p>
				</div>
			</div>

			@if (userStoriesInBacklog.length > 0) {
				<mat-accordion multi>
					@for (userstory of sortUserStoriesByPriority(userStoriesInBacklog); track $index) {
						<mat-expansion-panel [disabled]="isPanelDisabled">
							<mat-expansion-panel-header>
								<mat-panel-title> <img [src]="priorityImageParser(userstory.priority)" /> </mat-panel-title>
								<mat-panel-title> {{ userstory.code }} </mat-panel-title>
								<mat-panel-title> {{ userstory.title | maxLength: 35 }} </mat-panel-title>
								<mat-panel-description> {{ userstory.description | maxLength: 50 }} </mat-panel-description>
								@if (currentSprint.eid || futureSprints.length > 0) {
									<mat-panel-description>
										<button class="green-button" (click)="openPopUpAddToSprint(userstory.eid)" matRipple>
											Add to a sprint
										</button>
									</mat-panel-description>
								}
							</mat-expansion-panel-header>
							@if (getTasksDataSource(userstory.eid) && getTasksDataSource(userstory.eid).data.length > 0) {
								<table
									mat-table
									[dataSource]="getTasksDataSource(userstory.eid)"
									matSort
									class="mat-elevation-z8 tasks-table"
								>
									<ng-container matColumnDef="type">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
										<td
											#itemCell
											[ngClass]="getTaskTypeClass(element.type)"
											mat-cell
											*matCellDef="let element"
											(click)="openTaskPopUp(element.eid)"
										>
											{{ typeParser(element.type) }}
										</td>
									</ng-container>

									<ng-container matColumnDef="key">
										<th mat-header-cell *matHeaderCellDef>Key</th>
										<td mat-cell *matCellDef="let element">{{ element.code }}</td>
									</ng-container>

									<ng-container matColumnDef="subject">
										<th mat-header-cell *matHeaderCellDef>Subject</th>
										<td mat-cell *matCellDef="let element">{{ element.description }}</td>
									</ng-container>

									<ng-container matColumnDef="status">
										<th mat-header-cell *matHeaderCellDef>Status</th>
										<td mat-cell *matCellDef="let element">
											<div #statusContainer class="status-container">
												{{ statusParser(element.status) }}
											</div>
										</td>
									</ng-container>

									<ng-container matColumnDef="assignee">
										<th mat-header-cell *matHeaderCellDef>Responsible</th>
										<td mat-cell *matCellDef="let element">
											@if (element.responsibleEid === null) {
												<div class="assignee-container">
													<img src="../../../../../assets/unassigned-user.svg" />
													<p>Unassigned</p>
												</div>
											} @else {
												<div class="assignee-container">
													<img src="{{ getProjectMemberFromMap(element.responsibleEid)?.gravatar }}" />
													<p>{{ getProjectMemberFromMap(element.responsibleEid)?.name }}</p>
												</div>
											}
										</td>
									</ng-container>

									<ng-container matColumnDef="priority">
										<th mat-header-cell *matHeaderCellDef>Priority</th>
										<td mat-cell *matCellDef="let element">
											<img [src]="priorityImageParser(element.priority)" />
										</td>
									</ng-container>

									<ng-container matColumnDef="created">
										<th mat-header-cell *matHeaderCellDef>Created</th>
										<td mat-cell *matCellDef="let element">
											{{ element.createdAt | date }}
										</td>
									</ng-container>
									<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
									<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTaskPopUp(row)"></tr>
								</table>
							}
							<div class="add-issue" (click)="openPopUpCreateTask(userstory.eid)">+ Create new Task</div>
						</mat-expansion-panel>
					}
				</mat-accordion>
			} @else {
				<div class="no-sprint">
					<h3>No user stories available in the backlog.</h3>
					<p>
						If you want to create a User Story, <a [routerLink]="['/', projectEid, 'epics']">go to the epics page</a> and
						create a new one inside one of the Epics.
					</p>
				</div>
			}
		</div>

		<!-- Future Sprints -->
		@if (futureSprints.length > 0) {
			<div class="backlog-grid sprint-group-title">
				<div class="sprint-title-and-items-wrapper">
					<h2>Future Sprints</h2>
					<mat-icon class="info-tooltip" matTooltip="The list displays future sprints that are being planned."
						>info</mat-icon
					>
					<div class="tag items">
						<span>{{ futureSprints.length }}</span>
						<span>items</span>
					</div>
				</div>

				<p>Find below the list of future sprints.</p>
			</div>
			@for (sprint of allSprints; track $index) {
				@if (detailedSprints[sprint.eid] && sprint.periodStatus === 3) {
					<ng-container
						*ngTemplateOutlet="
							sprintTemplate;
							context: { sprint: sprint, userStoriesPerSprint: userStoriesPerSprint, buttonsAvailable: true }
						"
					></ng-container>
				}
			}
		}

		<!-- Past Sprints -->
		@if (pastSprints.length > 0) {
			<div class="backlog-grid sprint-group-title">
				<div class="sprint-title-and-items-wrapper">
					<h2>Past Sprints</h2>
					<mat-icon class="info-tooltip" matTooltip="The list shows completed sprints.">info</mat-icon>
					<div class="tag items">
						<span>{{ pastSprints.length }}</span>
						<span>items</span>
					</div>
				</div>
				<p>Find below the list of past sprints.</p>
			</div>
			@for (sprint of allSprints; track $index) {
				@if (detailedSprints[sprint.eid] && sprint.periodStatus === 1) {
					<ng-container
						*ngTemplateOutlet="
							sprintTemplate;
							context: { sprint: sprint, userStoriesPerSprint: userStoriesPerSprint, buttonsAvailable: false }
						"
					></ng-container>
				}
			}
		}
	</div>
</div>

<!-- Template used to display future and past sprints -->
<ng-template
	#sprintTemplate
	let-sprint="sprint"
	let-userStoriesPerSprint="userStoriesPerSprint"
	let-buttonsAvailable="buttonsAvailable"
>
	<div class="backlog-grid sprint {{ sprint.periodStatus | sprintPeriodStatusClass }}-sprint">
		<div class="sprint-round-container">
			<div class="title">
				<div class="left">
					<div class="left-content">
						<h2>Sprint {{ sprint.index }}</h2>
					</div>
					<p class="desc">Period {{ sprint.startsAt | date: "dd/MM/YYYY" }} - {{ sprint.endsAt | date: "dd/MM/YYYY" }}</p>
				</div>
				<div class="right">
					<button mat-icon-button [matMenuTriggerFor]="menu" matRipple>
						<mat-icon>more_horiz</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="openPopUpUpdateSprint(sprint.eid)">
							<span>Update sprint</span>
						</button>
					</mat-menu>
				</div>
			</div>

			<mat-accordion multi>
				@for (userstory of sortUserStoriesByPriority(userStoriesPerSprint[sprint.eid]); track $index) {
					<mat-expansion-panel [disabled]="isPanelDisabled">
						<mat-expansion-panel-header>
							<mat-panel-title> <img [src]="priorityImageParser(userstory.priority)" /> </mat-panel-title>
							<mat-panel-title> {{ userstory.code }} </mat-panel-title>
							<mat-panel-title> {{ userstory.title | maxLength: 40 }} </mat-panel-title>
							<mat-panel-description> {{ userstory.description | maxLength: 50 }} </mat-panel-description>
							@if (buttonsAvailable) {
								<mat-panel-description>
									<button class="grey-button" (click)="openPopUpRemoveFromSprint(userstory.eid)" matRipple>
										Remove from sprint
									</button>
								</mat-panel-description>
							}
						</mat-expansion-panel-header>
						@if (getTasksDataSource(userstory.eid) && getTasksDataSource(userstory.eid).data.length > 0) {
							<table
								mat-table
								[dataSource]="getTasksDataSource(userstory.eid)"
								matSort
								class="mat-elevation-z8 tasks-table sprint-history"
							>
								<ng-container matColumnDef="type">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
									<td
										[ngClass]="getTaskTypeClass(element.type)"
										#itemCell
										mat-cell
										*matCellDef="let element"
										(click)="openTaskPopUp(element.eid)"
									>
										{{ typeParser(element.type) }}
									</td>
								</ng-container>

								<ng-container matColumnDef="key">
									<th mat-header-cell *matHeaderCellDef>Key</th>
									<td mat-cell *matCellDef="let element">{{ element.code }}</td>
								</ng-container>

								<ng-container matColumnDef="subject">
									<th mat-header-cell *matHeaderCellDef>Subject</th>
									<td mat-cell *matCellDef="let element">
										{{ element.description | maxLength: 45 }}
									</td>
								</ng-container>

								<ng-container matColumnDef="status">
									<th mat-header-cell *matHeaderCellDef>Status</th>
									<td mat-cell *matCellDef="let element">
										<div #statusContainer class="status-container">
											{{ statusParser(element.status) | maxLength: 11 }}
										</div>
									</td>
								</ng-container>

								<ng-container matColumnDef="assignee">
									<th mat-header-cell *matHeaderCellDef>Responsible</th>
									<td mat-cell *matCellDef="let element">
										@if (element.responsibleEid === null) {
											<div class="assignee-container">
												<img src="../../../../../assets/unassigned-user.svg" />
												<p>Unassigned</p>
											</div>
										} @else {
											<div class="assignee-container">
												<img src="{{ getProjectMemberFromMap(element.responsibleEid)?.gravatar }}" />
												<p>{{ getProjectMemberFromMap(element.responsibleEid)?.name }}</p>
											</div>
										}
									</td>
								</ng-container>

								<ng-container matColumnDef="priority">
									<th mat-header-cell *matHeaderCellDef>Priority</th>
									<td mat-cell *matCellDef="let element">
										<img [src]="priorityImageParser(element.priority)" />
									</td>
								</ng-container>

								<ng-container matColumnDef="created">
									<th mat-header-cell *matHeaderCellDef>Created</th>
									<td mat-cell *matCellDef="let element">
										{{ element.createdAt | date }}
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTaskPopUp(row)"></tr>
							</table>
						}
						<div *ngIf="buttonsAvailable" class="add-issue" (click)="openPopUpCreateTask(userstory.eid)">
							+ Create new task
						</div>
					</mat-expansion-panel>
				}
			</mat-accordion>
		</div>
	</div>
</ng-template>

@if (popUpAddToSprint) {
	<div class="pop-up-background" (click)="closePopUpAddToSprint()"></div>
	<div class="epic-pop-up">
		<div class="epic-pop-up-header">
			<h2>Add User Story to Sprint</h2>
			<p>Select an active or future sprint from the list.</p>
		</div>
		<form [formGroup]="addToSprintForm" class="pop-up-form" (ngSubmit)="submitAddToSprintForm()">
			<div class="pop-up-form-content">
				<div class="input-wrapper">
					<label for="sprint">Sprint</label>
					<select name="sprint" id="sprint" formControlName="sprint">
						<option value="">Select a sprint</option>
						@for (sprint of currentAndFutureSprints; track $index) {
							<option value="{{ sprint.eid }}">Sprint {{ sprint.index }}</option>
						}
					</select>
				</div>
			</div>
			<div class="pop-up-footer">
				<button type="submit" [disabled]="addToSprintForm.invalid" matRipple>Submit</button>
				<button class="cancel-epic" (click)="closePopUpAddToSprint()" matRipple>Cancel</button>
			</div>
		</form>
	</div>
}

@if (popUpRemoveFromSprint) {
	<div class="pop-up-background" (click)="closePopUpRemoveFromSprint()"></div>

	<app-delete-popup
		[title]="'Remove User Story from sprint'"
		[description]="'Are you sure you want to remove the selected User Story from its current Sprint?'"
		[confirmButtonLabel]="'Remove'"
		(cancelEmitter)="closePopUpRemoveFromSprint()"
		(confirmDeleteEmmiter)="onRemoveFromSprint()"
	></app-delete-popup>
}

@if (popUpTask) {
	<div class="pop-up-background" (click)="closePopUp()"></div>
	<app-task-details
		[task]="selectedTask"
		[responsible]="getProjectMemberFromMap(selectedTask.responsibleEid)"
		[projectEid]="projectEid"
		(closePopUpEmitter)="closePopUp()"
		(closePopUpEmitterDeletedTask)="removeTaskFromDataSource($event)"
		(closePopUpEmitterEditedTask)="loadTasks()"
	></app-task-details>
}

@if (popUpCreateTask) {
	<div class="pop-up-background" (click)="closePopUpCreateTask()"></div>
	<app-task-popup
		[isEditMode]="false"
		[projectEid]="projectEid"
		[userStoryEid]="eidSelectedUserStory"
		(handleTaskAndClosePopupEmitter)="addNewTaskInDataSource($event)"
		(closePopUpEmitter)="closePopUpCreateTask()"
	></app-task-popup>
}

@if (popUpCreateSprint) {
	<div class="pop-up-background" (click)="closePopUpCreateSprint()"></div>
	<app-sprint-popup
		[isEditMode]="false"
		[projectEid]="projectEid"
		(handleSprintAndClosePopupEmitter)="loadSprintDataAndClosePopUp()"
		(closePopUpEmitter)="closePopUpCreateSprint()"
	></app-sprint-popup>
}

@if (popUpUpdateSprint) {
	<div class="pop-up-background" (click)="closePopUpUpdateSprint()"></div>
	<app-sprint-popup
		[isEditMode]="true"
		[projectEid]="projectEid"
		[sprintEid]="eidSelectedSprint"
		(handleEditedSprintAndClosePopupEmitter)="loadSprintDataAndClosePopUp()"
		(closePopUpEmitter)="closePopUpUpdateSprint()"
	></app-sprint-popup>
}
