<app-navbar></app-navbar>
<div class="backlog-page-content">
	<div class="grid-container">
		<div class="header-grid">
			<ul class="breadcrumber">
				<li><a href="">Squad BES</a></li>
				<div class="spacer">></div>
				<li><a href="">TCC 1</a></li>
				<div class="spacer">></div>
				<li><a href="/backlog">Backlog</a></li>
			</ul>
			<h1>Backlog</h1>
			<p>This board will manage your features that are available to start development.</p>
		</div>

		<div class="backlog-grid sprint">
			<ng-container *ngIf="currentSprint$ | async as currentSprint; else noCurrentSprint">
				<div class="title">
					<div class="left">
						<div class="left-content">
							<h2>Sprint {{ currentSprint.index }}</h2>

							<div class="items">
								<span>{{ (userStoriesInCurrentSprint$ | async)?.length }}</span>
								<span>items</span>
							</div>
						</div>
						<p class="desc">Current Sprint</p>
						<p>Status: {{ sprintStatusParser(currentSprint.status) }}</p>
					</div>

					<div class="right">
						<button mat-icon-button>
							<mat-icon>more_horiz</mat-icon>
						</button>
						<p class="sprint-date">Start of sprint: {{ currentSprint.startsAt | date }}</p>
					</div>
				</div>

				<mat-accordion multi>
					@for (userstory of userStoriesInCurrentSprint$ | async; track $index) {
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title> {{ userstory.code }} </mat-panel-title>
								<mat-panel-title> {{ userstory.title | maxLength: 40 }} </mat-panel-title>
								<mat-panel-description> {{ userstory.description | maxLength: 50 }} </mat-panel-description>
							</mat-expansion-panel-header>
							@if (getTasksDataSource(userstory.eid) && getTasksDataSource(userstory.eid).data.length > 0) {
								<table
									mat-table
									[dataSource]="getTasksDataSource(userstory.eid)"
									matSort
									class="mat-elevation-z8 tasks-table sprint-history"
								>
									<ng-container matColumnDef="type">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
										<td
											[ngClass]="getTaskTypeClass(element.type)"
											#itemCell
											mat-cell
											*matCellDef="let element"
											(click)="openTaskPopUp(element.eid)"
										>
											{{ typeParser(element.type) }}
										</td>
									</ng-container>

									<ng-container matColumnDef="key">
										<th mat-header-cell *matHeaderCellDef>Key</th>
										<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">{{ element.code }}</td>
									</ng-container>

									<ng-container matColumnDef="subject">
										<th mat-header-cell *matHeaderCellDef>Subject</th>
										<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
											{{ element.description | maxLength: 45 }}
										</td>
									</ng-container>

									<ng-container matColumnDef="status">
										<th mat-header-cell *matHeaderCellDef>Status</th>
										<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
											<div #statusContainer class="status-container">
												{{ statusParser(element.status) | maxLength: 11 }}
											</div>
										</td>
									</ng-container>

									<ng-container matColumnDef="assignee">
										<th mat-header-cell *matHeaderCellDef>Responsible</th>
										<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
											<div class="assignee-container">
												<img src="{{ getProjectMemberFromMap(element.responsibleEid)?.gravatar }}" />
												<p>{{ getProjectMemberFromMap(element.responsibleEid)?.name }}</p>
											</div>
										</td>
									</ng-container>

									<ng-container matColumnDef="priority">
										<th mat-header-cell *matHeaderCellDef>Priority</th>
										<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
											<img [src]="priorityImageParser(element.priority)" />
										</td>
									</ng-container>

									<ng-container matColumnDef="created">
										<th mat-header-cell *matHeaderCellDef>Created</th>
										<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
											{{ element.createdAt | date }}
										</td>
									</ng-container>
									<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
									<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
								</table>
							}
							<div class="add-issue" (click)="openPopUpCreateTask(userstory.eid)">+ Add another task</div>
						</mat-expansion-panel>
					}
				</mat-accordion>
			</ng-container>
			<ng-template #noCurrentSprint>
				<div class="no-sprint">
					<h3>No current sprint available. Please create a new sprint.</h3>
					<button class="green-button" (click)="openPopUpCreateSprint()">Create new Sprint</button>
				</div>
			</ng-template>
		</div>

		<div class="backlog-grid">
			<div class="title">
				<div class="left">
					<div class="left-content">
						<h2>Backlog</h2>
						<div class="items">
							<span>{{ (userStoriesInBacklog$ | async)?.length }}</span>
							<span>items</span>
						</div>
					</div>
					<p class="desc">Find below the list of all User Stories</p>
				</div>

				<div class="right">
					<button mat-icon-button>
						<mat-icon>more_horiz</mat-icon>
					</button>
				</div>
			</div>

			<mat-accordion multi>
				@for (userstory of userStoriesInBacklog$ | async; track $index) {
					<mat-expansion-panel [disabled]="isPanelDisabled">
						<mat-expansion-panel-header>
							<mat-panel-title> {{ userstory.code }} </mat-panel-title>
							<mat-panel-title> {{ userstory.title | maxLength: 35 }} </mat-panel-title>
							<mat-panel-description> {{ userstory.description | maxLength: 50 }} </mat-panel-description>
							<mat-panel-description>
								<button class="green-button" (click)="openPopUpAddToSprint(userstory.eid)">Add to a sprint</button>
							</mat-panel-description>
						</mat-expansion-panel-header>
						@if (getTasksDataSource(userstory.eid) && getTasksDataSource(userstory.eid).data.length > 0) {
							<table mat-table [dataSource]="getTasksDataSource(userstory.eid)" matSort class="mat-elevation-z8 tasks-table">
								<ng-container matColumnDef="type">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
									<td #itemCell mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
										{{ typeParser(element.type) }}
									</td>
								</ng-container>

								<ng-container matColumnDef="key">
									<th mat-header-cell *matHeaderCellDef>Key</th>
									<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">{{ element.code }}</td>
								</ng-container>

								<ng-container matColumnDef="subject">
									<th mat-header-cell *matHeaderCellDef>Subject</th>
									<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">{{ element.description }}</td>
								</ng-container>

								<ng-container matColumnDef="status">
									<th mat-header-cell *matHeaderCellDef>Status</th>
									<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
										<div #statusContainer class="status-container">
											{{ statusParser(element.status) }}
										</div>
									</td>
								</ng-container>

								<ng-container matColumnDef="assignee">
									<th mat-header-cell *matHeaderCellDef>Responsible</th>
									<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
										<div class="assignee-container">
											<img src="{{ getProjectMemberFromMap(element.responsibleEid)?.gravatar }}" />
											<p>{{ getProjectMemberFromMap(element.responsibleEid)?.name }}</p>
										</div>
									</td>
								</ng-container>

								<ng-container matColumnDef="priority">
									<th mat-header-cell *matHeaderCellDef>Priority</th>
									<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
										<img [src]="priorityImageParser(element.priority)" />
									</td>
								</ng-container>

								<ng-container matColumnDef="created">
									<th mat-header-cell *matHeaderCellDef>Created</th>
									<td mat-cell *matCellDef="let element" (click)="openTaskPopUp(element.eid)">
										{{ element.createdAt | date }}
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
							</table>
						}
						<div class="add-issue" (click)="openPopUpCreateTask(userstory.eid)">+ Add another task</div>
					</mat-expansion-panel>
				}
			</mat-accordion>
		</div>
	</div>
</div>

@if (popUpAddToSprint) {
	<div class="pop-up-background" (click)="closePopUpAddToSprint()"></div>
	<div class="epic-pop-up">
		<div class="epic-pop-up-header">
			<h2>Add User Story to Sprint</h2>
			<p>Select an active or future sprint from the list.</p>
		</div>
		<form [formGroup]="addToSprintForm" class="pop-up-form" (ngSubmit)="submitAddToSprintForm()">
			<div class="pop-up-form-content">
				<div class="input-wrapper">
					<label for="sprint">Sprint</label>
					<select name="sprint" id="sprint" formControlName="sprint">
						<option value="">-- Select a sprint --</option>
						@for (sprint of currentAndFutureSprints$ | async; track $index) {
							<option value="{{ sprint.eid }}">Sprint {{ sprint.index }}</option>
						}
					</select>
				</div>
			</div>
			<div class="pop-up-footer">
				<button type="submit" [disabled]="addToSprintForm.invalid">Submit</button>
				<button class="cancel-epic" (click)="closePopUpAddToSprint()">Cancel</button>
			</div>
		</form>
	</div>
}

@if (popUpTask) {
	<ng-container *ngIf="selectedTask$ | async as selectedTask">
		<div class="pop-up-background" (click)="closePopUp()"></div>

		<div class="history-pop-up">
			<img class="close" src="../../../../../assets/double-arrow.svg" (click)="closePopUp()" />
			<div class="history-pop-up-header">
				<h2>{{ selectedTask.title }}</h2>
				<p class="history-desc">{{ selectedTask.description }}</p>
			</div>
			<div class="pop-up-content">
				<div class="info key">
					<p>Key:</p>
					<span>{{ selectedTask.code }}</span>
				</div>
				<div class="info status">
					<p>Status:</p>
					<div class="status-wrapper">
						<div id="container-status-pop" #statusPopUp>
							<span>
								{{ statusParser(selectedTask.status) }}
							</span>
						</div>
					</div>
				</div>

				<div class="info priority">
					<p>Priority:</p>
					<div class="content">
						<img [src]="priorityImageParser(selectedTask.priority)" />
						<span>{{ priorityTextParser(selectedTask.priority) }}</span>
					</div>
				</div>

				<div class="info type">
					<p>Type:</p>
					<span>{{ typeParser(selectedTask.type) }}</span>
				</div>

				<div class="info assignee">
					<p>Assignee:</p>
					<div class="content">
						<img [src]="getProjectMemberFromMap(selectedTask.responsibleEid)?.gravatar" />
						<span>
							{{ getProjectMemberFromMap(selectedTask.responsibleEid)?.name }}
							{{ getProjectMemberFromMap(selectedTask.responsibleEid)?.surname }}
						</span>
					</div>
				</div>

				<div class="info created">
					<p>Created:</p>
					<span>{{ selectedTask.createdAt | date }}</span>
				</div>

				<div class="info user-story-link" *ngIf="userStory$ | async as userStory">
					<p>User story:</p>
					<span (click)="navigateToUserStory(userStory?.eid)">
						{{ userStory?.title }}
						<mat-icon>open_in_new</mat-icon>
					</span>
				</div>
			</div>
			<div class="pop-up-footer">
				<div class="hr"></div>
				<div class="comments-container">
					<div class="comment">
						<div class="user">
							<div class="id">
								<img [src]="getProjectMemberFromMap(selectedTask.responsibleEid)?.gravatar" />
								<p>
									{{ getProjectMemberFromMap(selectedTask.responsibleEid)?.name }}
									{{ getProjectMemberFromMap(selectedTask.responsibleEid)?.surname }}
								</p>
								<span>1 hour ago</span>
							</div>
							<div class="actions">
								<button mat-icon-button>
									<mat-icon>more_horiz</mat-icon>
								</button>
							</div>
						</div>
						<div class="message">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa omnis fugit eligendi.</div>
					</div>
				</div>
				<div class="input-comment">
					<img src="../../../../../assets/image-fake.svg" />
					<input type="text" placeholder="Add a comment.." />
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</ng-container>
}

@if (popUpCreateTask) {
	<div class="pop-up-background" (click)="closePopUpCreateTask()"></div>
	<div class="epic-pop-up">
		<div class="epic-pop-up-header">
			<h2>Create a Task</h2>
			<p>Fill in the necessary information to create a task.</p>
		</div>
		<form [formGroup]="createTaskForm" class="pop-up-form" (ngSubmit)="submitCreateTaskForm()">
			<div class="pop-up-form-content">
				<div class="input-wrapper">
					<label for="task-title">Task's Title</label>
					<input
						type="text"
						id="task-title"
						name="task-title"
						formControlName="title"
						placeholder="Insert the title of the task"
					/>
				</div>
				<div class="input-wrapper">
					<label for="responsible">Responsible</label>
					<select id="responsible" name="responsible" formControlName="responsible">
						<option value="">Select the responsible for the task</option>
						<option *ngFor="let member of getAllProjectMembers()" [value]="member.eid">
							{{ member.name }} {{ member.surname }}
						</option>
					</select>
				</div>
				<div class="input-wrapper">
					<label for="task-description">Description</label>
					<textarea
						id="task-description"
						name="task-description"
						formControlName="description"
						placeholder="Insert a description"
					></textarea>
				</div>
				<div class="input-wrapper">
					<label for="task-type">Type</label>
					<select id="task-type" name="task-type" formControlName="type">
						<option value="">Select a type</option>
						<option value="1">Task</option>
						<option value="2">Bug</option>
						<option value="3">Test</option>
					</select>
				</div>
				<div class="input-wrapper">
					<label for="task-priority">Priority</label>
					<select id="task-priority" name="task-priority" formControlName="priority">
						<option value="">Select a priority</option>
						<option value="1">Low</option>
						<option value="2">Medium</option>
						<option value="3">High</option>
					</select>
				</div>
			</div>
			<div class="pop-up-footer">
				<button type="submit" [disabled]="createTaskForm.invalid">Create</button>
				<button class="cancel-epic" (click)="closePopUpCreateTask()">Cancel</button>
			</div>
		</form>
	</div>
}

@if (popUpCreateSprint) {
	<div class="pop-up-background" (click)="closePopUpCreateSprint()"></div>
	<div class="epic-pop-up">
		<div class="epic-pop-up-header">
			<h2>Create a Sprint</h2>
			<p>Fill in the necessary information to create a sprint.</p>
		</div>
		<form [formGroup]="createSprintForm" class="pop-up-form" (ngSubmit)="submitCreateSprintForm()">
			<div class="pop-up-form-content">
				<div class="input-wrapper">
					<label for="sprint-starts-at">Starts at</label>
					<input
						type="date"
						id="sprint-starts-at"
						name="sprint-starts-at"
						formControlName="startDate"
						placeholder="Insert the start date of the sprint"
					/>
				</div>
				<div class="input-wrapper">
					<label for="sprint-ends-at">Ends at</label>
					<input
						type="date"
						id="sprint-ends-at"
						name="sprint-ends-at"
						formControlName="endDate"
						placeholder="Insert the end date of the sprint"
					/>
				</div>
			</div>
			<div class="pop-up-footer">
				<button type="submit" [disabled]="createSprintForm.invalid">Create</button>
				<button class="cancel-epic" (click)="closePopUpCreateSprint()">Cancel</button>
			</div>
		</form>
	</div>
}
