<app-navbar></app-navbar>
<div class="backlog-page-content">
	<div class="grid-container">
        <div class="header-grid">
            <ul class="breadcrumber">
                <li><a href="">Squad BES</a></li>
                <div class="spacer">></div>
                <li><a href="">TCC 1</a></li>
                <div class="spacer">></div>
                <li><a href="/backlog">Backlog</a></li>
            </ul>
            <h1>Backlog</h1>
            <p>This board will manage your features that are available to start development.</p>
        </div>

        <div class="backlog-grid sprint">
            <div class="title">
                <div class="left">
                    <div class="left-content">
                        <h2>Sprint 1</h2>
                        <div class="items">
                            <span>3</span>
                            <span>items</span>
                        </div>
                    </div>
                    <p class="desc">Breve descrição do que será feito na task</p>
                </div>

                <div class="right">
                    <button mat-icon-button>
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <p class="sprint-date">Inicio da Sprint: 28/02/2024 • 08:30 </p>
                </div>
                
            </div>
            
            
            <mat-accordion multi>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Key
                        </mat-panel-title>
                        <mat-panel-title>
                            This is the expansion title
                        </mat-panel-title>
                        <mat-panel-description>
                            This is a summary of the content
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 history-table">

                        <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
                        <td #itemCell mat-cell *matCellDef="let element">{{element.type}}</td>
                        </ng-container>   

                        <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Key</th>
                        <td mat-cell *matCellDef="let element">{{element.key}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef>Subject</th>
                        <td mat-cell *matCellDef="let element">{{element.subject}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                            <div #statusContainer class="status-container">
                                {{element.status}}
                            </div>         
                        </td>
                        </ng-container>

                        <ng-container matColumnDef="assignee">
                            <th mat-header-cell *matHeaderCellDef>Assigned by</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="assignee-container">
                                    <img src="../../../../../assets/image-fake.svg">
                                    <p>{{element.assignee}}</p>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="priority">
                            <th mat-header-cell *matHeaderCellDef>Priority</th>
                            <td mat-cell *matCellDef="let element">
                                <img [src]="priorityParser(element.priority)">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef>Created</th>
                            <td mat-cell *matCellDef="let element">{{element.created}}</td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-expansion-panel>
    
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Key
                    </mat-panel-title>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                      Currently I am 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="backlog-grid">
            <div class="title">
                <div class="left">
                    <div class="left-content">
                        <h2>Backlog</h2>
                        <div class="items">
                            <span>7</span>
                            <span>items</span>
                        </div>
                    </div>
                    <p class="desc">Breve descrição do que será feito na task</p>
                </div>

                <div class="right">
                    <button mat-icon-button>
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
                
            </div>
            
            
            <mat-accordion multi>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Key
                        </mat-panel-title>
                        <mat-panel-title>
                            This is the expansion title
                        </mat-panel-title>
                        <mat-panel-description>
                            This is a summary of the content
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                      
                    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 history-table">

                        <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Issue</th>
                        <td #itemCell mat-cell *matCellDef="let element">{{element.type}}</td>
                        </ng-container>   

                        <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Key</th>
                        <td mat-cell *matCellDef="let element">{{element.key}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef>Subject</th>
                        <td mat-cell *matCellDef="let element">{{element.subject}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                            <div #statusContainer class="status-container">
                                {{element.status}}
                            </div>         
                        </td>
                        </ng-container>

                        <ng-container matColumnDef="assignee">
                            <th mat-header-cell *matHeaderCellDef>Assigned by</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="assignee-container">
                                    <img src="../../../../../assets/image-fake.svg">
                                    <p>{{element.assignee}}</p>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="priority">
                            <th mat-header-cell *matHeaderCellDef>Priority</th>
                            <td mat-cell *matCellDef="let element">
                                <img [src]="priorityParser(element.priority)">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef>Created</th>
                            <td mat-cell *matCellDef="let element">{{element.created}}</td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table> -->
                      
                </mat-expansion-panel>
    
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Key
                    </mat-panel-title>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                      Currently I am 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>